#{extends 'Prices/indexPrices.html' /}

#{set title:'Admin fee prices' /}

#{set 'moreScripts'}
    #{script 'tooltip.js'/}
#{/set}

#{if flash.error}
    <div class="alert alert-error">
        ${(flash.error).capFirst()}
    </div>
#{/if}

#{if flash.success}
    <div class="alert alert-success">
        ${(flash.success).capFirst()}
    </div>
#{/if}
<div class="form-inline">
    #{if feePrices}
    <select id="feePricesList">
        <option value="">Select fee</option>
        #{list items:feePrices, as:'option'}
        <option value="${option.id}" #{if option.id==feePrice?.id}selected#{/if}>${option.name}</option>
        #{/list}
    </select>
    or
    #{/if}
    #{a @addFeePrice(), class:"btn btn-primary"}Add new fee price#{/a}
</div>

<div id="feePrice">
    #{if feePrice}
        #{include 'Prices/admin/showFeePriceHistory.html'/}
    #{/if}
</div>

<script type="text/javascript">
    $('#feePricesList').change(function() {
        if($(this).val()!=""){
            window.location.href = "/price/fee/"+$('#feePricesList').val();
        }
    })
</script>