#{extends 'Prices/indexPrices.html' /}

#{set title:'Admin airplane prices' /}

#{ifnot airplanes}
No airplanes
#{/ifnot}
#{ifnot paymentTypes}
No payment types
#{/ifnot}

#{if airplanes && paymentTypes}
#{if flash.error}
<div class="alert alert-error">
    ${(flash.error).capFirst()}
</div>
#{/if}

#{if flash.success}
<div class="alert alert-success">
    ${(flash.success).capFirst()}
</div>
#{/if}

<div class="form-inline">
    <select id="airplanes">
        <option value="">Select airplane</option>
        #{list items:airplanes, as:'airplaneOption'}
        <option value="${airplaneOption.id}" #{if airplane?.id==airplaneOption.id}selected#{/if}>${airplaneOption}</option>
        #{/list}
    </select>
    <select id="paymentTypes">
        <option value="">Select payment type</option>
        #{list items:paymentTypes, as:'paymentTypeOption'}
        <option value="${paymentTypeOption.id}" #{if paymentType?.id==paymentTypeOption.id}selected#{/if}>${paymentTypeOption.name}</option>
        #{/list}
    </select>
</div>

<div id="airplanePrice" class="dynamicContent">
    #{if airplane && paymentType}
        #{include 'Prices/admin/showAirplanePriceHistory.html'/}
    #{/if}
</div>

<script type="text/javascript" charset="${_response_encoding}">

    // Events handler
    $('#airplanes').change(function() {
        if($('#paymentTypes').val()!="" && $(this).val()!=""){
            window.location.href = "/airplane/"+$('#airplanes').val()+"/price/"+$('#paymentTypes').val();
        }
    })
    $('#paymentTypes').change(function() {
        if($('#airplanes').val()!="" && $(this).val()!=""){
            window.location.href = "/airplane/"+$('#airplanes').val()+"/price/"+$('#paymentTypes').val();
        }
    })

</script>
#{/if}