#{extends 'Prices/indexPrices.html' /}

#{set title:'Admin tow prices' /}

#{ifnot towPlanes}
        No tow planes
#{/ifnot}
#{ifnot paymentTypes}
        No payment types
#{/ifnot}
#{if towPlanes && paymentTypes}

#{if flash.error}
<div class="alert alert-error">
    ${(flash.error).capFirst()}
</div>
#{/if}

#{if flash.success}
<div class="alert alert-success">
    ${(flash.success).capFirst()}
</div>
#{/if}

<div class="form-inline">
    <select id="towPlanes" class="span4">
        <option value="">Select airplane</option>
        #{list items:towPlanes, as:'towPlaneOption'}
        <option value="${towPlaneOption.id}" #{if towPlane?.id==towPlaneOption.id}selected#{/if}>${towPlaneOption}</option>
        #{/list}
    </select>
    <select id="paymentTypes">
        <option value="">Select payment type</option>
        #{list items:paymentTypes, as:'option'}
        <option value="${option.id}" #{if option?.id==paymentType?.id}selected#{/if}>${option}</option>
        #{/list}
    </select>
</div>

<div id="towPrice">
    #{if towPlane && paymentType}
    #{include 'Prices/admin/showTowPriceHistory.html'/}
    #{/if}
</div>
#{/if}

<script type="text/javascript" charset="${_response_encoding}">
    $(document).ready(function(){
        $('#paymentTypes').change(function() {
            if($(this).val()!="" && $("#towPlanes").val()!=""){
                window.location.href = "/aircraft/"+$('#towPlanes').val()+"/price/tow/"+$('#paymentTypes').val();
            }
        })
        $('#towPlanes').change(function() {
            if($(this).val()!="" && $("#paymentTypes").val()!=""){
                window.location.href = "/aircraft/"+$('#towPlanes').val()+"/price/tow/"+$('#paymentTypes').val();
            }
        })
    })
</script>