#{extends 'Prices/indexPrices.html' /}

#{set title:'Admin instructor prices' /}

#{set 'moreScripts'}
    #{script 'tooltip.js'/}
#{/set}

#{if flash.error}
<div class="alert alert-error">
    ${(flash.error).capFirst()}
</div>
#{/if}

#{if flash.success}
<div class="alert alert-success">
    ${(flash.success).capFirst()}
</div>
#{/if}

#{if paymentTypes}
<div class="form-inline">
    <select id="paymentTypes">
        <option value="">Select payment type</option>
        #{list items:paymentTypes, as:'option'}
        <option value="${option.id}" #{if option?.id==paymentType?.id}selected#{/if}>${option.name}</option>
        #{/list}
    </select>
    #{ifnot paymentType}
    or
    #{a @prices.InstructorPrices.addInstructorPrice(), class:"btn btn-primary"}Add new instructor price#{/a}
    #{/ifnot}
</div>

<div id="instructorPrice">
    #{if paymentType}
    #{include 'Prices/admin/showInstructorPriceHistory.html'/}
    #{/if}
</div>

<script type="text/javascript" charset="${_response_encoding}">
    $('#paymentTypes').change(function() {
        if($(this).val()!=""){
            window.location.href = "/price/instructor/"+$('#paymentTypes').val();
        }
    })
</script>
#{/if}
#{else}
      No (active) payment types. You must #{a @prices.PaymentTypes.adminPaymentTypes()}add (enable)#{/a} some before you will be able to add some instructor price.
#{/else}