#{extends 'Prices/indexPrices.html' /}

#{set title:'Admin payment types' /}

#{if paymentType?.id}
#{set formAction:"/prices/payment/type/${paymentType.id}?x-http-method-override=PUT" /}
#{set action:"Save edit" /}
#{/if}
#{else}
#{set formAction:"/prices/payment/type" /}
#{set action:"Add payment type" /}
#{/else}

<a class="pull-right" rel="tooltip" href="#" tabindex="-1" style="margin:0.2em;" data-original-title="You can disable your payments types. When disabled, they don't appear in forms where payment type must be selected. When you need to edit name, just click on the edit button and edit the name which will appear in this form."><strong>?</strong></a>

#{if paymentType?.id}
<div class="alert alert-info">
    Now you can make your edits.
</div>
#{/if}

#{ifError 'paymentType'}
<div class="alert alert-error">
    Some error occured during payment validation!
</div>
#{/ifError}

#{if flash.success}
<div class="alert alert-success">
   ${flash.success}
</div>
#{/if}

<form class="well form-inline" action="${formAction}" id="addPaymentType" method="POST" accept-charset="utf-8"
      enctype="multipart/form-data">
    #{if paymentType?.id}
    <input type="hidden" name="paymentType.id" value="${paymentType.id}">
    #{/if}
    <input type="text" class="input-xlarge" placeholder="Payment type name" name="paymentType.name" value="${paymentType?.name}">
    <span class="help-inline error">#{error 'paymentType.name' /}</span>
    <button type="submit" class="btn btn-primary">${action}</button>
</form>

<div class="btn-toolbar">
    #{list items:paymentTypes, as:'paymentType'}
    <div class="btn active #{if paymentType.isActive}btn-success#{/if}#{else}btn-danger#{/else}" style="margin-bottom:0.5em">
        ${paymentType.name}
        #{if paymentType.isActive}
        #{a @prices.PaymentTypes.disablePaymentType(paymentType.id), class:"confirmPaymentTypeDisable", title:"Disable"}<i class="icon-ban-circle icon-white"></i>#{/a}
        #{/if}
        #{else}
        #{a @prices.PaymentTypes.enablePaymentType(paymentType.id),class:"confirmPaymentTypeEnable", title:"Enable"}<i class="icon-ok-circle icon-white"></i>#{/a}
        #{/else}
        #{a @prices.PaymentTypes.editPaymentType(paymentType.id),title:"Edit"}<i class="icon-edit icon-white"></i>#{/a}
    </div>
    #{/list}
</div>

<div class="modal hide" id="confirmationPaymentTypeDisable">
    <div class="alert alert-block alert-warning fade in">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="alert-heading">Warning!</h3>
    </div>
    <div class="modal-body">
        <p>Do you really want to disable this payment type?</p>
    </div>
    <div class="modal-footer">
        <a href="" id="disablePaymentType" class="btn btn-warning">Disable payment type</a>
        <a href="" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

<div class="modal hide" id="confirmationPaymentTypeEnable">
    <div class="alert alert-block alert-warning fade in">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="alert-heading">Warning!</h3>
    </div>
    <div class="modal-body">
        <p>Do you really want to disable this payment type?</p>
    </div>
    <div class="modal-footer">
        <a href="" id="enablePaymentType" class="btn btn-warning">Enable payment type</a>
        <a href="" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

<script type="text/javascript">
    $("a.confirmPaymentTypeDisable").click(function(event) {
        event.preventDefault();
        var targetUrl = $(this).attr("href");
        $('#confirmationPaymentTypeDisable').modal();
        $("#disablePaymentType").attr("href",targetUrl);
    });

    $("a.confirmPaymentTypeEnable").click(function(event) {
        event.preventDefault();
        var targetUrl = $(this).attr("href");
        $('#confirmationPaymentTypeEnable').modal();
        $("#enablePaymentType").attr("href",targetUrl);
    });

    $(document).ready(function () {
        $("[rel=tooltip]").tooltip({placement:'left'});
    });
</script>
