#{extends 'Prices/indexPrices.html' /}

#{set title:'Admin job prices' /}

#{set 'moreScripts'}
#{script 'tooltip.js'/}
#{/set}

#{if flash.error}
<div class="alert alert-error">
    ${(flash.error).capFirst()}
</div>
#{/if}

#{if flash.success}
<div class="alert alert-success">
    ${(flash.success).capFirst()}
</div>
#{/if}

<div class="form-inline">
    #{if jobPrices}
    <select id="jobPricesList">
        <option value="">Select job</option>
        #{list items:jobPrices, as:'option'}
        <option value="${option.id}" #{if option.id==jobPrice?.id}selected#{/if}>${option.jobType}</option>
        #{/list}
    </select>
    or
    #{/if}
    #{a @addJobPrice(), class:"btn btn-primary"}Add new job price#{/a}
</div>

<div id="jobPrice">
    #{if jobPrice}
    #{include 'Prices/admin/showJobPriceHistory.html'/}
    #{/if}
</div>

<script type="text/javascript">
    $('#jobPricesList').change(function() {
        if($(this).val()!=""){
            window.location.href = "/price/job/"+$('#jobPricesList').val();
        }
    })
</script>