<h3>${airplane.sign} ${paymentType.name} prices</h3>
#{a @addAirplanePricePrice(airplane.id,paymentType.id),class:"btn btn-primary"}#{if airplanePrices}Change#{/if}#{else}Add#{/else} ${paymentType.name} airplane price#{/a} <a rel="tooltip" href="#" tabindex="-1" data-original-title="Click on the button when you want to change ${paymentType.name} airplane price since some date in the future">?</a>

#{if airplanePayment}
<section id="no-more-tables">
<table class="table table-striped">
    <thead>
    <tr>
        <th>Since</th>
        <th>Price</th>
        <th>Condition</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    #{list airplanePayment.priceHistory, as:'airplanePrice'}
    %{prices=airplanePrice.getPrices()}%
    <tr>

        <td rowspan="#{if prices}${prices.size()}#{/if}">${airplanePrice.date.formatDate()}</td>
        #{if prices && prices.size()>0}
        <td>${prices.get(0).price}</td>
        <td>flying hours/year > ${prices.get(0).cond}</td>
        #{/if}
        #{else}
        <td></td>
        <td></td>
        #{/else}
        <td rowspan="#{if prices}${prices.size()}#{/if}">#{if airplanePrice.date.isAfterNow()}#{a @editAirplanePrice(airplanePayment.airplane.id,airplanePayment.paymentType.id,airplanePrice.id)}<i class="icon-edit"></i>#{/a}#{/if}</td>
        <td rowspan="#{if prices}${prices.size()}#{/if}">#{if airplanePrice.date.isAfterNow()}#{a @deleteAirplanePrice(airplanePayment.airplane.id,airplanePayment.paymentType.id,airplanePrice.id), class:'deletePrice'}<i class="icon-remove"></i>#{/a}#{/if}</td>
    </tr>
    #{if prices && prices.size()>1}
        #{list items:1..prices.size()-1, as:'i'}
        <tr>
            <td>${prices.get(i).price}</td>
            <td>flying hours/year > ${prices.get(i).cond}</td>
        </tr>
        #{/list}
    #{/if}
    #{/list}
    </tbody>
</table>
</section>

<div class="modal hide" id="confirmationDeletePrice">
    <div class="alert alert-block alert-warning fade in">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="alert-heading">Warning!</h3>
    </div>
    <div class="modal-body">
        <p>Do you really want to delete this airplane prices?</p>
    </div>
    <div class="modal-footer">
        <a href="" id="deletePrice" class="btn btn-warning">Delete airplane prices</a>
        <a href="" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>
#{/if}

