<h3>Winch ${paymentType.name} prices</h3>
#{a @prices.WinchPrices.addWinchPricePrice(paymentType.id), class:"btn btn-primary"}Add new ${paymentType.name} winch price#{/a}<a rel="tooltip" href="#" tabindex="-1" data-original-title="Click on the button when you want to change ${paymentType} winch price since some date in the future">?</a>
#{if winchPrice?.priceHistory}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Since</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    #{list winchPrice.priceHistory, as:'price'}
    <tr>
        <td>${price.date.formatDate()}</td>
        <td>${price.price}</td>
        <td>#{if price.date.isAfterNow()}#{a @editWinchPrice(winchPrice.paymentType.id,price.id),class:'editPrice'}<i class="icon-edit"></i>#{/a}#{/if}</td>
        <td>#{if price.date.isAfterNow()}#{a @deleteWinchPrice(winchPrice.paymentType.id,price.id), class:'deletePrice'}<i class="icon-remove"></i>#{/a}#{/if}</td>
    </tr>
    #{/list}
    </tbody>
</table>
<div class="modal hide" id="confirmationDeletePrice">
    <div class="alert alert-block alert-warning fade in">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="alert-heading">Warning!</h3>
    </div>
    <div class="modal-body">
        <p>Do you really want to delete this price?</p>
    </div>
    <div class="modal-footer">
        <a href="" id="deletePrice" class="btn btn-warning">Delete winch price</a>
        <a href="" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

#{/if}
#{else}
<p>No winch ${paymentType?.name} prices.</p>
#{/else}