<h3>${towPlane.sign} ${paymentType.name} prices</h3>
#{a @addTowPricePrice(towPlane.id,paymentType.id),class:"btn btn-primary"}Add ${towPlane.sign} ${paymentType.name} tow price#{/a} <a rel="tooltip" href="#" tabindex="-1" data-original-title="Click on the button when you want to change ${towPlane} ${paymentType.name} tow price since some date in the future">?</a>
#{if towPrice}
<section id="no-more-tables">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Since</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        #{list towPrice.priceHistory, as:'price'}
        <tr>
            <td>${price.date.formatDate()} ${price.parent.id}</td>
            <td>${price.price}/${price.towPayment}</td>
            <td>#{if price.date.isAfterNow()}#{a @editTowPrice(towPrice.towPlane.id,towPrice.paymentType.id,price.id)}<i class="icon-edit"></i>#{/a}#{/if}</td>
            <td>#{if price.date.isAfterNow()}#{a @deleteTowPrice(towPrice.towPlane.id,towPrice.paymentType.id,price.id), class:'deletePrice'}<i class="icon-remove"></i>#{/a}#{/if}</td>
        </tr>
        #{/list}
        </tbody>
    </table>
</section>

<div class="modal hide" id="confirmationDeletePrice">
    <div class="alert alert-block alert-warning fade in">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="alert-heading">Warning!</h3>
    </div>
    <div class="modal-body">
        <p>Do you really want to delete this tow prices</p>
    </div>
    <div class="modal-footer">
        <a href="" id="deletePrice" class="btn btn-warning">Delete tow price</a>
        <a href="" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>
#{/if}
#{else}
    <p>No tow prices.</p>
#{/else}

