<h2>Aircraft instructor ${paymentType.name} prices</h2>

#{a @addInstructorPricePrice(models.prices.InstructorPrice.FlightType.aircraft,paymentType.id),class:"btn btn-primary"}Add new aircraft instructor ${paymentType.name} price#{/a} <a rel="tooltip" href="#" tabindex="-1" data-original-title="Click on the button when you want to change aircraft ${paymentType.name} instructor price since some date in the future">?</a>
#{if aircraftInstructorPrice?.priceHistory}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Since</th>
        <th>Price/hour</th>
        <th>Price/start</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    #{list aircraftInstructorPrice.priceHistory, as:'price'}
    <tr>
        <td>${price.date.formatDate()}</td>
        <td>${price.price}</td>
        <td>${price.startPrice}</td>
        <td>#{if price.date.isAfterNow()}#{a @prices.InstructorPrices.editInstructorPrice(aircraftInstructorPrice.flightType,aircraftInstructorPrice.paymentType.id,price.id)}<i class="icon-edit"></i>#{/a}#{/if}</td>
        <td>#{if price.date.isAfterNow()}#{a @prices.InstructorPrices.deleteInstructorPrice(aircraftInstructorPrice.flightType,aircraftInstructorPrice.paymentType.id,price.id), class:'deletePrice'}<i class="icon-remove"></i>#{/a}#{/if}</td>
    </tr>
    #{/list}
    </tbody>
</table>
#{/if}
#{else}
<p>No aircraft instructor ${paymentType.name} prices.</p>
#{/else}

<h2>Glider instructor ${paymentType.name} prices</h2>

#{a @addInstructorPricePrice(models.prices.InstructorPrice.FlightType.glider,paymentType.id),class:"btn btn-primary"}Add new glider instructor ${paymentType.name} price#{/a} <a rel="tooltip" href="#" tabindex="-1" data-original-title="Click on the button when you want to change glider ${paymentType.name} instructor price since some date in the future">?</a>
#{if gliderInstructorPrice?.priceHistory}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Since</th>
        <th>Price/hour</th>
        <th>Price/start</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    #{list gliderInstructorPrice.priceHistory, as:'price'}
    <tr>
        <td>${price.date.formatDate()}</td>
        <td>${price.price}</td>
        <td>${price.startPrice}</td>
        <td>#{if price.date.isAfterNow()}#{a @prices.InstructorPrices.editInstructorPrice(gliderInstructorPrice.flightType,gliderInstructorPrice.paymentType.id,price.id)}<i class="icon-edit"></i>#{/a}#{/if}</td>
        <td>#{if price.date.isAfterNow()}#{a @prices.InstructorPrices.deleteInstructorPrice(gliderInstructorPrice.flightType,gliderInstructorPrice.paymentType.id,price.id), class:'deletePrice'}<i class="icon-remove"></i>#{/a}#{/if}</td>
    </tr>
    #{/list}
    </tbody>
</table>
#{/if}
#{else}
<p>No glider instructor ${paymentType.name} prices.</p>
#{/else}


<div class="modal hide" id="confirmationDeletePrice">
    <div class="alert alert-block alert-warning fade in">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="alert-heading">Warning!</h3>
    </div>
    <div class="modal-body">
        <p>Do you really want to delete this price?</p>
    </div>
    <div class="modal-footer">
        <a href="" id="deletePrice" class="btn btn-warning">Delete instructor price</a>
        <a href="" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>