#{extends 'main.html' /}
#{set title:'Flight details' /}

#{if flash.success}
<div class="alert alert-success">${flash.success}</div>
#{/if}

#{if flash.error}
<div class="alert alert-danger">${flash.error}</div>
#{/if}

<div class="page-header">
    <h1>${title} <small>${flight.departureTime.formatDate()} ${flight.airplane.sign}</small></h1>
</div>

<div class="row-fluid">
    <div class="span4">
        <h2 class="index">Flight info</h2>

        <table class="table table-borderless">
            <tr>
                <td style="width: 30%">Pilot</td>
                <td>${flight.pilot}</td>
            </tr>
            #{if flight.secondCrewMember}
            <tr>
                <td>Second crew member</td>
                <td>${flight.secondCrewMember}</td>
            </tr>
            <tr>
                <td>Instructor</td>
                <td>#{if flight.isFlightWithInstructor}<i class="icon-ok-circle"></i>#{/if}#{else}<i class="icon-remove-circle"></i>#{/else}</td>
            </tr>
            #{/if}
            <tr>
                <td>Task</td>
                <td>${flight.task}</td>
            </tr>
            <tr>
                <td>${airplane_label}</td>
                <td>${flight.airplane}</td>
            </tr>
            <tr>
                <td>Departure</td>
                <td>${flight.departureTime.formatDateTime()} ${flight.departurePlace}</td>
            </tr>
            <tr>
                <td>Arrival</td>
                <td>${flight.arrivalTime.formatDate()} <span style="text-decoration:underline">${flight.arrivalTime.formatTime()}</span> ${flight.arrivalPlace}</td>
            </tr>
            <tr>
                <td>Duration</td>
                <td style="padding-left:6px">${ "".pad(20).raw() }${flight.duration.format()}</td>
            </tr>

            #{doLayout /}

            #{if (gliderFlight && gliderFlight.startType==models.GliderFlight.StartType.tow) || (aircraftFlight && aircraftFlight.isTowFlight)}
            <tr><td colspan="2"></td></tr>
            <tr>
                <td><strong>Tow</strong></td>
                <td></td>
            </tr>
            <tr>
                <td>Pilot</td>
                <td>${flight.towFlight.pilot}</td>
            </tr>
            <tr>
                <td>${tow_flight_airplane_label}</td>
                <td>${flight.towFlight.airplane}</td>
            </tr>
            <tr>
                <td>Duration</td>
                <td>${flight.towFlight.duration.format()}</td>
            </tr>
            <tr>
                <td></td>
                <td>#{a @indexFlight(flight.towFlight.id)}Details<i class="icon-share-alt"></i>#{/a}</td>
            </tr>
            #{/if}
        </table>
    </div>
    <div class="span4">
        <h2 class="index">Payment</h2>
        <table class="table table-borderless">
            <tr>
                <td>Payment type</td>
                <td>${flight.paymentType}</td>
            </tr>
            <tr>
                <td colspan="2"><strong>Airplane<strong></td>
            </tr>
            <tr>
                %{
                  yearlyHours=flight.pilot.getHoursPerYear(flight.departureTime,flight.getClass().getSimpleName())
                }%
                <td>User flying hours until this flight</td>
                <td>${yearlyHours}</td>
            </tr>
            <tr>
                %{
                airplaneHourRent=flight.airplane.getHourPrice(yearlyHours,flight.paymentType,flight.departureTime);
                airplaneCost=models.cashflows.CashFlow.getCost(flight.duration, airplaneHourRent).formatDouble();
                }%
                <td>Airplane rent price per hour</td>
                <td>${airplaneHourRent.formatDouble()}</td>
            </tr>
            <tr>
                <td class="pull-right">x</td>
                <td style="text-decoration:underline">${flight.duration.format()}</td>
            </tr>
            <tr>
                <td>Airplane rent cost</td>
                <td><strong>${airplaneCost}</strong></td>
            </tr>
           #{if flight.isFlightWithInstructor}
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="2"><strong>Instructor</strong></td>
            </tr>
            <tr>
                %{
                if(gliderFlight){
                    price=models.prices.InstructorPrice.getInstructorPrice(flight.paymentType, models.prices.InstructorPrice.FlightType.glider, flight.departureTime)
                }
                else{
                    price=models.prices.InstructorPrice.getInstructorPrice(flight.paymentType, models.prices.InstructorPrice.FlightType.aircraft, flight.departureTime)
                }
                }%
                <td>Instructor price per hour</td>
                <td>${price.price.formatDouble()}</td>
            </tr>
            <tr>
                <td class="pull-right">x</td>
                <td>${flight.duration.format()}</td>
            </tr>
            <tr>
                <td>Instructor price per start<span class="pull-right">+</span></td>
                <td style="text-decoration:underline">${price.startPrice.formatDouble()}</td>
            </tr>
            <tr>
                <td>Instructor cost</td>
                <td><strong>${flight.getInstructorCost().formatDouble()}</strong></td>
            </tr>
            #{/if}
            <tr>
                <td colspan="2"></td>
            </tr>
            #{if gliderFlight}
            <tr>
                <td colspan="2"><strong>Start</strong></td>
            </tr>
            #{if flight.startType==models.GliderFlight.StartType.winch}
            <tr>
                <td>Winch price</td>
                <td>${(models.prices.WinchPrice.getWinchPrice(flight.paymentType, flight.departureTime).price).formatDouble()}</td>
            </tr>
            #{/if}
            #{elseif flight.startType==models.GliderFlight.StartType.tow}
            <tr>
                <td>Tow price per hour</td>
                <td>${(flight.towFlight.airplane.getTowPrice(flight.paymentType, flight.departureTime).price).formatDouble()}</td>
            </tr>
            <tr>
                <td class="pull-right">x</td>
                <td style="text-decoration:underline">${flight.towFlight.duration.format()}</td>
            </tr>
            #{/elseif}
            <tr>
                <td>Start cost</td>
                <td><strong>${flight.getStartCost().formatDouble()}</strong></td>
            </tr>
            <tr style="border-top:1px solid">
                <td><strong>Total</strong></td>
                <td><strong>${flight.getFlightCost().formatDouble()}</strong></td>
            </tr>
            #{/if}

        </table>
    </div>
    <div class="span4">
        <h2 class="index">Bills</h2>
        #{if aircraftFlight && aircraftFlight.isTowFlight}
            Tow flight, payed by towed flight crew.
        #{/if}
        #{else}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Part</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                #{list flight.billsList, as:'bill'}
                <tr>
                    <td>${bill.user}</td>
                    <td>${bill.flightPart}</td>
                    <td>${bill.amount.format()}</td>
                </tr>
                #{/list}
                #{if flight.isFlightWithInstructor}
                <tr>
                    <td>${flight.instructorBill.user}</td>
                    <td></td>
                    <td>${flight.instructorBill.amount.format()}</td>
                </tr>
                #{/if}
            </tbody>
        </table>
        #{/else}
    </div>
</div>