#{extends "Flights/indexFlight.html" /}

#{set airplane_label:"Aircraft" /}
#{set tow_flight_airplane_label:"Glider" /}
#{set flight:aircraftFlight /}

<tr>
    <td>Tow flight</td>
    <td>#{if aircraftFlight.isTowFlight}<i class="icon-ok-circle"></i>#{/if}#{else}<i class="icon-remove-circle"></i>#{/else}</td>
</tr>