#{extends 'main.html' /}

#{if aircraft}
    #{set title: "${aircraft} flights" /}
#{/if}
#{elseif glider}
    #{set title: "${glider} flights" /}
#{/elseif}
#{elseif user}
    #{set title: "${user.firstName} ${user.lastName} flights" /}
#{/elseif}
#{else}
    #{set title:'Flights' /}
#{/else}
#{set 'moreStyles'}
#{stylesheet 'daterangepicker.css'/}
#{/set}

#{set 'moreScripts'}
    #{script 'date.js'/}
    #{script 'daterangepicker.js'/}
    #{script 'sessvars.js'/}
    #{script 'spin.js'/}
    #{script 'loading.js'/}
#{/set}


<div class="page-header">
    <h1>#{get 'title' /}</h1>
</div>

<div style="margin-bottom:1.5em;margin-top:1.5em">
    #{if aircraft}
    #{a @Flights.addAircraftsFlight(aircraft.id),class:"btn btn-info"}Add ${aircraft.sign} flight#{/a}
    #{/if}
    #{elseif glider}
    #{a @Flights.addGlidersFlight(glider.id),class:"btn btn-info"}Add ${glider.sign} flight#{/a}
    #{/elseif}
    #{elseif user}
    #{a @Flights.addUsersAircraftFlight(user.id),class:"btn btn-info"}Add ${user.firstName} ${user.lastName} aircraft flight#{/a}
    #{a @Flights.addUsersGliderFlight(user.id),class:"btn btn-info"}Add ${user.firstName} ${user.lastName} glider flight#{/a}
    #{/elseif}
    #{else}
    <a class="btn btn-info" href="/flight/aircraft/add">
        <i class="icon-plus icon-white"></i>
        Add aircraft flight
    </a>
    <a class="btn btn-info" href="/flight/glider/add">
        <i class="icon-plus icon-white"></i>
        Add glider flight
    </a>
    #{/else}
</div>


<div class="row-fluid">
    <div class="span1">
        <select class="input-mini" id="size">
            <option value="10">10</option>
            <option value="30">30</option>
            <option value="50">50</option>
        </select>
    </div>

    <div class="span11" style="text-align:right">
        <div class="form-inline">
            <div class="btn-group">
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-download icon-white"></i><i class="icon-file icon-white"></i>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="text-align:left">
                    <li><a id="pdfFlights" href="">pdf</a></li>
                    <li><a href="#">xls</a></li>
                </ul>
            </div>
            <div class="input-append"><input id="from" type="text" class="input-small search" placeholder="from"/><input id="to" type="text" class="input-small search" placeholder="to"/><span class="add-on"><i class="icon-calendar"></i></span></div>

           <div class="input-prepend #{if aircraft || glider}hide#{/if}"><span class="add-on"><i class="icon-plane"></i> </span> <input class="input-small" id="sign" type="text" placeholder="Airplane sign" value="#{if aircraft}${aircraft.sign}#{/if}#{elseif glider}${glider.sign}#{/elseif}#{else}#{/else}"></div>
            <div class="input-prepend input-append"><span class="add-on #{if user}hide#{/if}"><i class="icon-user"></i></span><input id="user" type="text" class="input-large search #{if user}hide#{/if}" placeholder="User name or id" value="#{if user}${user.id}#{/if}"/><span class="add-on"><i class="icon-filter"></i></span><button id="search" class="btn btn-info"><i class="icon-search icon-white"></i></button></div>
        </div>
    </div>
</div>

<div id="flights"  class="dynamicContent">
</div>
<iframe id="download" class="hide"></iframe>

<div class="modal hide" id="confirmationDelete">
    <div class="alert alert-block alert-warning fade in">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="alert-heading">Warning!</h3>
    </div>
    <div class="modal-body">
        <p>Do you really want to delete flight?</p>
    </div>
    <div class="modal-footer">
        <a href="" id="delete" class="btn btn-warning">Delete flight</a>
        <a href="" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

<script type="text/javascript" charset="${_response_encoding}">
  $(document).ready(function(){
    // Rebuild state
    $('#from').val(sessvars.from)
    $('#to').val(sessvars.to)
    #{if !aircraft && !glider}
    $('#sign').val(sessvars.sign)
    #{/if}
    #{ifnot user}
    $('#user').val(sessvars.user)
    #{/ifnot}

    if(sessvars.page == undefined) {
    sessvars.page = 1
    }
    if(sessvars.size == undefined) {
    sessvars.size = 10
    }
    $('#size option[value='+sessvars.size+']').attr('selected', 'true')

    // Search function
    var search = function() {

    sessvars.from=  $('#from').val()
    sessvars.to=   $('#to').val()
    sessvars.sign= $('#sign').val()
    sessvars.user = $('#user').val()

    sessvars.sDate=$('#sDate button.active').val()

    sessvars.size = $('#size').val()
    var listAction = #{jsAction @listFlights(':size', ':page',':from',':to',':sign',':user',':sDate') /}
    $('#flights').load(listAction({size: sessvars.size, page: sessvars.page, from: sessvars.from, to:sessvars.to, sign:sessvars.sign, user: sessvars.user, sDate: sessvars.sDate}), function() {
    $('#content').css('visibility', 'visible')
    })
    sessvars.$.clearMem();
    }

    // Events handler
    $('#search').click(function() {
        sessvars.page = 1
        search()
    })
    $('#user').keyup(function(e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if(code==13){
            sessvars.page = 1
            search()
        }
    })
    $('#sign').keyup(function(e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if(code==13){
            sessvars.page = 1
            search()
        }
    })
    $(document.body).on("click",'#pagination a',function(e) {
        sessvars.page = $(this).attr('href')
        e.preventDefault()
        search()
    })
    $('#size').change(function(){
        sessvars.page = 1
        search()
    })
    $(document).on("click",'.sort',function(e) {
        e.preventDefault()
        search();
    })

    sessvars.page = 1;
    search();
  })



    $('#pdfFlights').click(function(e){


    sessvars.from=  $('#from').val()
    sessvars.to=   $('#to').val()
    sessvars.sign= $('#sign').val()
    sessvars.user = $('#user').val()


    var action = #{jsRoute @getFlights(':format', ':from', ':to', ':sign', ':user') /};
    document.getElementById('download').src = action.url({format:"pdf",from: sessvars.from, to: sessvars.to, sign: sessvars.sign, user: sessvars.user});
    e.preventDefault();
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#from,#to').daterangepicker({
            dateFormat: 'dd.mm.yy',
            maxDate: '+0d',
            latestDate: 'today',
            datepickerOptions:{
                changeMonth: true,
                changeYear: true
            }
        });


    })
</script>


