#{extends "Flights/indexFlight.html" /}

#{set airplane_label:"Glider" /}
#{set tow_flight_airplane_label:"Tow plane" /}
#{set flight:gliderFlight /}
<tr>
    <td>Start type</td>
    <td>${gliderFlight.startType}</td>
</tr>
