#{if flights}
<section id="no-more-tables">
    <table class="table table-bordered table-condensed table-hover">
        <thead class="cf">
        <tr>
            <th style="width: 6%">
                <div id="sDate" class="btn-group" data-toggle="buttons-radio" style="display:inline;">
                    <button class='btn btn-mini btn-link sort #{if sDate.equals("asc")}active#{/if}' data-toggle="button" title="Sort by departure time ascendant" value="asc">
                        <i class="icon-chevron-up"></i>
                    </button>
                    <button class='btn btn-mini btn-link sort #{if sDate.equals("desc")}active#{/if}' data-toggle="button" title="Sort by departure time descendant" value="desc">
                        <i class="icon-chevron-down"></i>
                    </button>
                </div>
                Date
            </th>
            <th style="width: 20%">
                Airplane
            </th>
            <th>
                Crew
            </th>
            <th style="width: 10%">Task</th>
            <th style="width: 4%">Departure</th>
            <th style="width: 4%">Arrival</th>
            <th style="width: 4%">Duration</th>
            <th style="width: 4%">Detail</th>
            <th style="width: 4%">Edit</th>
            <th style="width: 4%">Delete</th>
            #{ifnot filter}
            <th style="width: 2%"></th>
            #{/ifnot}
        </tr>
        </thead>
        <tbody>
        #{list items:flights, as:'flight'}
        <tr>

            <td data-title="Date">${flight.departureTime?.formatDate()}</td>
            <td data-title="Airplane">${flight.airplane.type} ${flight.airplane.sign}</td>
            <td data-title="Crew">${flight.pilot}#{if flight.secondCrewMember} ${flight.secondCrewMember}#{/if}#{if flight.isFlightWithInstructor} instr.#{/if}</td>
            <td data-title="Task">${flight.task}</td>
            <td data-title="Departure">${flight.departureTime?.formatTime()}</td>
            <td data-title="Arrival">${flight.arrivalTime?.formatTime()}</td>
            <td data-title="Duration">${flight.duration.format()}</td>
            <td data-title="Detail">#{a @indexFlight(flight.id)}<i class="icon-share-alt"></i>#{/a}</td>
            <td data-title="Edit">#{a @editFlight(flight.id)}<i class="icon-edit"></i>#{/a}</td>
            <td data-title="Delete">#{a @deleteFlight(flight.id),class:'delete'}<i class="icon-remove"></i>#{/a}</td>
            #{ifnot filter}
                #{if flight.towFlight}
                    #{if flight_index%size==1}
                        #{if flight_index<(flights.size()) && flight.towFlight.id==flights.get(flight_index).id}
                            <td class="tow hidecol" rowspan="2">}</td>
                        #{/if}
                        #{else}
                        <td class="hidecol"><i class="icon-arrow-up"></i></td>
                        #{/else}
                    #{/if}
                    #{elseif flight_index%size==0}
                        #{if flight.towFlight.id==flights.get(flight_index-2).id}
                        #{/if}
                        #{else}
                            <td class="hidecol"><i class="icon-arrow-down"></i></td>
                        #{/else}
                    #{/elseif}
                    #{else}
                        #{if flight_index<(flights.size()) && flight.towFlight.id==flights.get(flight_index).id}
                            <td class="tow hidecol" rowspan="2">}</td>
                        #{/if}
                        #{else}
                        #{/else}
                    #{/else}
                #{/if}
                #{else}
                    <td class="hidecol"></td>
                #{/else}
            #{/ifnot}
        </tr>
        #{/list}
        </tbody>
    </table>
    #{include 'pagination.html' /}
</section>
#{/if}
#{else}
<p>No flights</p>
#{/else}

<script type="text/javascript">
    $("a.delete").click(function(event) {
        event.preventDefault();
        var targetUrl = $(this).attr("href");
        $('#confirmationDelete').modal();
        $("#delete").attr("href",targetUrl);
    });
</script>