#{if job?.id}
    #{set formAction:"/job/${job.id}/edit?x-http-method-override=PUT" /}
    #{set action:"Edit" /}
    #{set buttonAction: "Save changes"/}
#{/if}
#{else}
    #{set formAction:"/job/add" /}
    #{if user}
        #{set action:"Add ${user.firstName} ${user.surname}" /}
    #{/if}
    #{else}
        #{set action:"Add" /}
    #{/else}
    #{set buttonAction: "Add job"/}
#{/else}

#{set 'moreScripts'}
    #{script 'jquery_mobile_accessibility.js'/}
    #{script 'jquery-ui-timepicker-addon.js'/}
    #{script 'autocomplete.js'/}
#{/set}

#{extends 'main.html' /}

#{set title:"${action} job" /}

<div class="page-header">
    <h1>#{get 'title' /}</h1>
</div>

#{ifErrors}
<div class="alert alert-error">
    Some error occured during job validation!
</div>
#{/ifErrors}

<form action="${formAction}" method="POST" class="form-horizontal">
    <fieldset>
        #{if job.id}
        <input type="hidden" name="job.id" value="${job.id}">
        #{/if}
        <div class='control-group #{ifError "job.price"}error#{/ifError}'>
            <label class="control-label" for="job.price">Job type</label>
            <div class="controls">
                #{list items:jobPrices, as:'jobPrice'}
                <label class="radio inline">
                    <input type="radio" id="job.price" name="job.price.id" value="${jobPrice.id}" #{if job?.price?.id==jobPrice.id}checked#{/if}>${jobPrice.jobType}
                </label>
                #{/list}

            </div>
            <div class="controls">
                <span class="help-inline">#{error "job.price" /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "job.user"}error#{/ifError}'>
            <label class="control-label">User</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span><input type="text" class="input-xxlarge autocomplete" data-url="@{Users.autocomplete()}" #{if job?.user}value="${job.user}"#{/if}#{elseif user}value="${user}" readonly#{/elseif}>
                    <input type="hidden" name="job.user.id" value="#{if job?.user}${job.user.id}#{/if}#{elseif user}${user.id}#{/elseif}">
                </div>
                <span class="help-inline">#{error "job.user" /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "job.description"}error#{/ifError}'>
            <label class="control-label" for="desc">Description</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-wrench"></i></span> <input class="input-xxlarge" type="text" id="desc" name="job.description" rows="1" placeholder="What have been done?" value="${job?.description}">
                </div>
                <span class="help-inline">#{error "job.description" /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "job.date"}error#{/ifError}'>
            <label class="control-label" for="date">Date</label>
            <div class="controls">
                <input type="text" class="input-small" id="date" name="job.date" value="${job?.date.formatDate()}">
                <span class="help-inline">#{error "job.date" /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "job.duration"}error#{/ifError}'>
            <label class="control-label" for="duration">Duration</label>
            <div class="controls">
                <input type="text" class="input-mini" id="duration" name="job.duration" value="#{if job?.duration}${job?.duration?.format()}#{/if}" placeholder="HH:MM">
                <span class="help-inline">#{error "job.duration" /}</span>
            </div>
        </div>
        <input type="hidden" name="job.amount" value="${job?.amount ? job.amount : '0.0'}">
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" name="submit">${buttonAction}</button>
        <a href="/jobs" class="btn">Cancel</a>
    </div>
</form>

<!--datepicker-->
<script>
    $("#date").datepicker({
        dateFormat: "dd.mm.yy",
        firstDay: 1,
        maxDate: 0,
        showOn: "button",
        buttonImage: "/public/img/glyphicons_045_calendar.png",
        buttonImageOnly: true
    });
    //duration timepicker
    $('#duration').timepicker({
        showOn: 'button',
        buttonImage: '/public/img/glyphicons_055_stopwatch.png',
        buttonImageOnly: true,
        addSliderAccess: true,
        sliderAccessArgs: { touchonly: false }
    });

    $('.ui-datepicker-trigger').click(function(){
        $('.ui-datepicker-current').css('display','none');
    });
</script>