#{extends 'main.html' /}

#{if user}
    #{set title:"${user.firstName} ${user.surname} jobs" /}
#{/if}
#{else}
    #{set title:'Jobs' /}
#{/else}

#{set 'moreStyles'}
    #{stylesheet 'daterangepicker.css'/}
#{/set}

#{set 'moreScripts'}
    #{script 'date.js'/}
    #{script 'daterangepicker.js'/}
    #{script 'sessvars.js'/}
    #{script 'spin.js'/}
    #{script 'loading.js'/}
#{/set}

<div class="page-header">
    <h1>#{get 'title' /}</h1>
</div>


#{if flash.error}
<div class="alert alert-error">
    ${(flash.error)}
</div>
#{/if}

#{if flash.success}
<div class="alert alert-success">
    ${(flash.success)}
</div>
#{/if}

<div style="margin-bottom:1.5em;margin-top:1.5em">

#{if user}
    #{a @Jobs.addUsersJob(user.id),class:"btn btn-info"}<i class="icon-plus icon-white"></i>Add ${user.firstName} ${user.surname} job#{/a}
#{/if}
#{else}
    #{a @Jobs.addJob(),class:"btn btn-info"}<i class="icon-plus icon-white"></i>Add job#{/a}
#{/else}
</div>

<div class="row-fluid">
    <div class="span1">
        <select class="input-mini" id="size">
            <option value="10">10</option>
            <option value="30">30</option>
            <option value="50">50</option>
        </select>
    </div>

    <div class="span11" style="text-align:right">
        <div class="form-inline">
            <div class="btn-group">
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="" title="Export">
                    <i class="icon-download icon-white"></i><i class="icon-file icon-white"></i>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="text-align:left">
                    <li><a id="pdfJobs" href="">pdf</a></li>
                    <li><a href="#">xls</a></li>
                </ul>
            </div>

            <div class="input-append"><input id="from" type="text" class="input-small search" placeholder="from"/><input id="to" type="text" class="input-small search" placeholder="to"/><span class="add-on"><i class="icon-calendar"></i></span></div>
            <div class="input-append">
                <input id="user" type="text" class="input-large search #{if user}hide#{/if}" placeholder="User name or id" value="#{if user}${user.id}#{/if}"/><span class="add-on"><i class="icon-filter"></i></span><button title="Filter table on given conditions" id="search"  class="btn btn-info" type="submit"><i class="icon-search icon-white"></i></button>
            </div>
        </div>
    </div>
</div>

<div id="jobs" class="dynamicContent">
</div>
<iframe id="download" class="hide"></iframe>

<script type="text/javascript" charset="${_response_encoding}">
  $(document).ready(function(){
    // Rebuild state
    #{ifnot user}
    $('#user').val(sessvars.user)
    #{/ifnot}
    $('#from').val(sessvars.from)
    $('#to').val(sessvars.to)

    if(sessvars.page == undefined) {
    sessvars.page = 1
    }
    if(sessvars.size == undefined) {
    sessvars.size = 10
    }
    $('#size option[value='+sessvars.size+']').attr('selected', 'true')

    // Search function
    var search = function() {

    sessvars.user = $('#user').val()
    sessvars.from= $('#from').val()
    sessvars.to=$('#to').val()

    sessvars.sDate=$('#sDate button.active').val()
    sessvars.sUser=$('#sUser button.active').val()

    sessvars.size = $('#size').val()

    var listAction = #{jsAction @listJobs(':size', ':page', ':from', ':to', ':user', ':sDate', ':sUser') /}
    $('#jobs').load(listAction({size: sessvars.size, page: sessvars.page,from: sessvars.from, to: sessvars.to,user: sessvars.user, sDate:sessvars.sDate, sUser:sessvars.sUser }), function() {
    $('#content').css('visibility', 'visible')
    })
    sessvars.$.clearMem();
    }

    // Events handler
    $('#search').click(function() {
    sessvars.page = 1
    search()
    })
    $('#user').keyup(function(e) {
    var code = (e.keyCode ? e.keyCode : e.which);
    if(code==13){
    sessvars.page = 1
    search()
    }
    })
    $(document.body).on("click",'#pagination a',function(e) {
    sessvars.page = $(this).attr('href')
    e.preventDefault()
    search()
    })
    $('#size').change(function(){
    sessvars.page = 1
    search()
    })

    $(document).on("click",'.sort',function(e) {
        e.preventDefault()
        search();
    })

    sessvars.page = 1;
    search();

    $('#pdfJobs').click(function(e){


    sessvars.from=  $('#from').val()
    sessvars.to=   $('#to').val()
    sessvars.user = $('#user').val()


    var action = #{jsRoute @getJobs(':format', ':from', ':to', ':user') /};
    document.getElementById('download').src = action.url({format:"pdf",from: sessvars.from, to: sessvars.to, user: sessvars.user});
    e.preventDefault();
    });
  });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#from,#to').daterangepicker({
            dateFormat: 'dd.mm.yy',
            maxDate: '+0d',
            latestDate: 'today',
            datepickerOptions:{
                changeMonth: true,
                changeYear: true
            }
        });
    })
</script>

