#{set 'moreScripts'}
#{script 'date.js'/}
#{script 'daterangepicker.js'/}
#{/set}
#{set 'moreStyles'}
#{stylesheet 'daterangepicker.css'/}
#{/set}

#{if jobs}
<section id="no-more-tables">
    <table id="jobs" class="table table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th style="width: 8%">
                <div id="sDate" class="btn-group" data-toggle="buttons-radio" style="display:inline;">
                    <button class='btn btn-mini btn-link sort #{if sDate.equals("asc")}active#{/if}' data-toggle="button" title="Sort by date ascendant" value="asc">
                        <i class="icon-chevron-up"></i>
                    </button>
                    <button class='btn btn-mini btn-link sort #{if sDate.equals("desc")}active#{/if}' data-toggle="button" title="Sort by date descendant" value="desc">
                        <i class="icon-chevron-down"></i>
                    </button>
                </div>
                Date
            </th>
            <th>
                <div id="sUser" class="btn-group" data-toggle="buttons-radio" style="display:inline;">
                    <button class='btn btn-mini btn-link sort #{if sUser.equals("asc")}active#{/if}' data-toggle="button" title="Sort by user name ascendant" value="asc">
                        <i class="icon-chevron-up"></i>
                    </button>
                    <button class='btn btn-mini btn-link sort #{if sUser.equals("desc")}active#{/if}' data-toggle="button" title="Sort by user name descendant" value="desc">
                        <i class="icon-chevron-down"></i>
                    </button>
                </div>
                User
            </th>
            <th>Description</th>
            <th style="width: 12%">Type</th>
            <th style="width: 8%;text-align:right">Hourly price</th>
            <th style="width: 4%;text-align:right">Duration</th>
            <th style="width: 8%;text-align:right">Total amount</th>
            <th style="width: 4%;text-align:right">Edit</th>
            <th style="width: 4%;text-align:right">Delete</th>
        </tr>
        </thead>
        <tbody>
        #{list items:jobs, as:'job'}
        <tr>
            <td data-title="Date">${job.date.formatDate()}</td>
            <td data-title="User">${job.user}</td>
            <td date-title="Description">${job.description}</td>
            <td data-title="Type">${job.price.jobType}</td>
            <td data-title="Hourly price" style="text-align:right">${job.price.getPrice(job.date).price}</td>
            <td data-title="Duration" style="text-align:right">${job.duration.format()}</td>
            <td data-title="Amount" class="positive">${job.amount.format()}</td>
            <td data-title="Edit" style="text-align:right">#{a @Jobs.editJob(job.id)}<i class="icon-edit"></i>#{/a}</td>
            <td data-title="Delete" style="text-align:right">#{a @Jobs.deleteJob(job.id),class:"confirmJobDelete"}<i class="icon-remove"></i>#{/a}</td>
        </tr>
        #{/list}
        </tbody>
    </table>
    #{include 'pagination.html' /}
</section>
#{/if}
#{else}
        No jobs
#{/else}
<div class="modal hide" id="confirmationJobDelete">
    <div class="alert alert-block alert-warning fade in">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="alert-heading">Warning!</h3>
    </div>
    <div class="modal-body">
        <p>Do you really want to delete this job?</p>
    </div>
    <div class="modal-footer">
        <a href="" id="deleteJob" class="btn btn-warning">Delete</a>
        <a href="" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

<script type="text/javascript">
    $(document).on("click", "a.confirmJobDelete", function (event) {
        event.preventDefault();
        var targetUrl = $(this).attr("href");
        $('#confirmationJobDelete').modal();
        $("#deleteJob").attr("href",targetUrl);
    });
</script>