/*for tables*/
@media only screen and (max-width: 800px) {

	/* Force table to not be like tables anymore */
	#no-more-tables table,
	#no-more-tables thead,
	#no-more-tables tbody,
	#no-more-tables th,
	#no-more-tables td,
	#no-more-tables tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#no-more-tables tr { border: 1px solid #ccc; }

	#no-more-tables td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
	}

	#no-more-tables td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	#no-more-tables td.hidecol{
	    display: none;
	}

	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* disable NOW button on date(time)pickers*/
.ui-datepicker-current {display:none}

 table { table-layout: fixed; text-align: left;}
 table th, table td { overflow: hidden;}


/*inline form errors*/
span.error {color: rgb(185, 74, 72);}

/*required tooltips*/
a.required {font-size: 1.5em;}

td.negative {color: #B94A48;text-align:right}
td.positive {color: #468847;text-align:right}

img.ui-datepicker-trigger {width:1.2em; padding-left: 0.2em;padding-right:0.5em;}

.table.table-borderless td,
.table.table-borderless th {
    border-top: 0;
}

h2.index{font-size:1.3em;font-weight:bold;padding:0;margin:0}

.hide{display: none;}

td.tow{font-size:2.5em;vertical-align:middle}
