#{extends 'Airplanes/formAirplane.html' /}

#{if airplane.id}
    #{set formAction:"/glider/${airplane.id}/edit"/}
    #{set buttonAction:'Save changes'/}
    #{set action:'Edit'/}
#{/if}
#{else}
    #{set formAction:"/glider/add"/}
    #{set buttonAction:'Add new glider'/}
    #{set action:'Add'/}
#{/else}

#{set title:"${action} glider" /}

<div class="control-group">
    <label class="control-label">Double seater</label>
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" name="airplane.isDoubleSeater" value="true" #{if airplane.isDoubleSeater}checked#{/if}>
            <a rel="tooltip" href="#" data-original-title="Check if an glider is doubleseater">?</a>
        </label>
    </div>
</div>