#{extends 'Airplanes/formAirplane.html' /}

#{if airplane.id}
        #{set formAction:"/aircraft/${airplane.id}/edit"/}
        #{set buttonAction:'Save changes'/}
        #{set action:'Edit'/}
#{/if}
#{else}
    #{set formAction:"/aircraft/add"/}
    #{set buttonAction:'Add new aircraft'/}
    #{set action:'Add'/}
#{/else}

#{set title:"${action} aircraft" /}

<div class="control-group">
    <label class="control-label">Tow plane</label>
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" name="airplane.isTowPlane" value="true" #{if airplane.isTowPlane}checked#{/if}>
            <a rel="tooltip" href="#" data-original-title="Check if an glider is tow plane">?</a>
        </label>
    </div>
</div>