#{extends 'main.html' /}
#{set 'moreScripts'}
#{script 'tooltip.js'/}
#{script 'dates.js'/}
#{/set}
<div class="page-header">
    <h1>#{get 'title' /}</h1>
</div>

#{ifErrors}
<div class="alert alert-error">
    &{"validation.error.alert"}
</div>
#{/ifErrors}

<form action="${formAction}" method="POST" class="form-horizontal">
    <fieldset>

        <legend>General airplane information</legend>
        #{if airplane?.id}
            <input type="hidden" name="airplane.id" value="${airplane.id}">
        #{/if}
        <!--Airplane type-->
        <div class='control-group #{ifError "airplane.type"}error#{/ifError}'>

            <label class="control-label" for="airplane.type">&{"airplane.type"}</label>

            <div class="controls">
                <input type="text" class="input-xlarge" id="airplane.type" name="airplane.type"
                       value="${airplane?.type}">
                <span class="help-inline">#{error "airplane.type" /}</span>
            </div>
        </div>

        <!--Airplane sign-->
        <div class='control-group #{ifError "airplane.sign"}error#{/ifError}'>
            <label class="control-label" for="airplane.sign">&{"airplane.sign"}</label>

            <div class="controls">
                <input type="text" class="input-xlarge" id="airplane.sign" name="airplane.sign"
                       value="${airplane?.sign}">
                <span class="help-inline">#{error "airplane.sign" /}</span>
            </div>
        </div>


        #{doLayout /}
    </fieldset>
    <fieldset>
        <legend>Inspections and insurance validity</legend>
        <div class='control-group #{ifError "airplane.airworthiness"}error#{/ifError}'>
            <label class="control-label">Airworthiness</label>
            <div class="controls">
                <input type="text" class="input-small date" name="airplane.airworthiness" placeholder="dd.mm.yyyy" value="${price?.date?.formatDate()}">
                <span class="help-inline">#{error "airplane.airworthiness" /}</span>
            </div>
        </div>
        <div class='control-group #{ifError "airplane.radioLicence"}error#{/ifError}'>
            <label class="control-label">Radio licence</label>
            <div class="controls">
                <input type="text" class="input-small date" name="airplane.radioLicence" placeholder="dd.mm.yyyy" value="${price?.date?.formatDate()}">
                <span class="help-inline">#{error "airplane.radioLicence" /}</span>
            </div>
        </div>
        <div class='control-group #{ifError "airplane.annualInspection"}error#{/ifError}'>
            <label class="control-label">Annual inspection</label>
            <div class="controls">
                <input type="text" class="input-small date" name="airplane.annualInspection" placeholder="dd.mm.yyyy" value="${price?.date?.formatDate()}">
                <span class="help-inline">#{error "airplane.annualInspection" /}</span>
            </div>
        </div>
        <div class='control-group #{ifError "airplane.responsibilityInsurance"}error#{/ifError}'>
            <label class="control-label">Responsibility insurance</label>
            <div class="controls">
                <input type="text" class="input-small date" name="airplane.responsibilityInsurance" placeholder="dd.mm.yyyy" value="${price?.date?.formatDate()}">
                <span class="help-inline">#{error "airplane.responsibilityInsurance" /}</span>
            </div>
        </div>
        <div class='control-group #{ifError "airplane.crashInsurance"}error#{/ifError}'>
            <label class="control-label">Crash insurance</label>
            <div class="controls">
                <input type="text" class="input-small date" name="airplane.crashInsurance" placeholder="dd.mm.yyyy" value="${price?.date?.formatDate()}">
                <span class="help-inline">#{error "airplane.crashInsurance" /}</span>
            </div>
        </div>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" name="submit">${buttonAction}</button>
        <a href="/airplanes" class="btn" name="cancel">Cancel</a>
    </div>

</form>