#{extends 'main.html' /}
#{if aircraft}
#{set airplane:aircraft /}
#{set cond:aircraft.isTowPlane /}
#{set checkboxTitle:'Tow plane'/}
#{/if}
#{else}
#{set airplane:glider /}
#{set cond:glider.isDoubleSeater /}
#{set checkboxTitle:'Double seater'/}
#{/else}

#{set title:"${airplane} details" /}

#{if flash.error}
<div class="alert alert-error">
    ${(flash.error)}
</div>
#{/if}

#{if flash.success}
<div class="alert alert-success">
    ${(flash.success)}
</div>
#{/if}

<div class="page-header">
    <h1>${airplane.sign} <small>${airplane.type}</small></h1>
</div>
<div class="row-fluid">
    <div class="span3">
        <table class="table table-borderless">
            <tr>
                <td>${checkboxTitle}</td>
                <td><i class="#{if cond}icon-ok-circle#{/if}#{else}icon-remove-circle#{/else}"></i></td>
            </tr>
            <tr>
                <td colspan="2"><h2 class="index">Inspections and insurance validity</h2></td>
            </tr>
            <tr>
                <td>Airworthiness</td>
                <td>
                    #{if airplane.airworthiness}
                    <span class="label #{if (airplane.airworthiness).isBeforeNow()}label-important#{/if}#{elseif (airplane.airworthiness).isBefore(org.joda.time.DateTime.now().plusMonths(2))}label-warning#{/elseif}#{else}label-success#{/else}">${airplane.airworthiness?.formatDate()}</span>
                    #{/if}
                    #{else}
                    <span class="label">not set</span>
                    #{/else}
                </td>
            </tr>
            <tr>
                <td>Radio licence</td>
                <td>
                    #{if airplane.radioLicence}
                    <span class="label #{if (airplane.radioLicence).isBeforeNow()}label-important#{/if}#{elseif (airplane.radioLicence).isBefore(org.joda.time.DateTime.now().plusMonths(2))}label-warning#{/elseif}#{else}label-success#{/else}">${airplane.radioLicence?.formatDate()}</span>
                    #{/if}
                    #{else}
                    <span class="label">not set</span>
                    #{/else}
                </td>
            </tr>
            <tr>
                <td>Annual inspection</td>
                <td>
                    #{if airplane.annualInspection}
                    <span class="label #{if (airplane.annualInspection).isBeforeNow()}label-important#{/if}#{elseif (airplane.annualInspection).isBefore(org.joda.time.DateTime.now().plusMonths(2))}label-warning#{/elseif}#{else}label-success#{/else}">${airplane.annualInspection?.formatDate()}</span>
                    #{/if}
                    #{else}
                    <span class="label">not set</span>
                    #{/else}
                </td>
            </tr>
            <tr>
                <td>Responsibility insurance</td>
                <td>
                    #{if airplane.responsibilityInsurance}
                    <span class="label #{if (airplane.responsibilityInsurance).isBeforeNow()}label-important#{/if}#{elseif (airplane.responsibilityInsurance).isBefore(org.joda.time.DateTime.now().plusMonths(2))}label-warning#{/elseif}#{else}label-success#{/else}">${airplane.responsibilityInsurance?.formatDate()}</span>
                    #{/if}
                    #{else}
                    <span class="label">not set</span>
                    #{/else}
                </td>
            </tr>
            <tr>
                <td>Crash insurance</td>
                <td>
                    #{if airplane.cashInsurance}
                    <span class="label #{if (airplane.crashInsurance).isBeforeNow()}label-important#{/if}#{elseif (airplane.crashInsurance).isBefore(org.joda.time.DateTime.now().plusMonths(2))}label-warning#{/elseif}#{else}label-success#{/else}">${airplane.cashInsurance?.formatDate()}</span>
                    #{/if}
                    #{else}
                    <span class="label">not set</span>
                    #{/else}
                </td>
            </tr>
        </table>
    </div>

    <div class="span9">
        <h2 class="index">Prices</h2>
        #{include 'Prices/list/listAirplanePrices.html'/}

        #{if towPrices}
        <h2 class="index">Tow prices</h2>
        #{include 'Prices/list/listTowPrices.html'/}
        #{/if}
    </div>
</div>
