#{extends 'main.html' /}
#{set title:'Airplanes' /}

<div class="page-header">
    <h1>#{get 'title' /}</h1>
</div>


#{if flash.error}
<div class="alert alert-error">
    ${(flash.error)}
</div>
#{/if}

#{if flash.success}
<div class="alert alert-success">
    ${(flash.success)}
</div>
#{/if}

<div style="margin-bottom:1.5em;margin-top:1.5em">
    #{a @addAircraft(),class:'btn btn-info'}<i class="icon-plus icon-white"></i>Add aircraft#{/a}
    #{a @addGlider(),class:'btn btn-info'}<i class="icon-plus icon-white"></i>Add glider#{/a}
</div>

<h2 id="aircraft">Aircraft</h2>
#{if aircraftList}
    #{set airplaneList:aircraftList/}
    #{set category:'aircraft'/}
    #{include 'Airplanes/listAirplanes.html' /}
#{/if}
#{else}
    <p>No aircraft</p>
#{/else}
<h2 id="glider">Glider</h2>
#{if gliderList}
    #{set airplaneList:gliderList/}
    #{set category:'glider'/}
    #{include 'Airplanes/listAirplanes.html' /}
#{/if}
#{else}
    <p>No glider</p>
#{/else}
