
    <section id="no-more-tables">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 29%">Sign</th>
                <th style="width: 29%">Type</th>
                <th style="width: 14%">Flights</th>
                <th style="width: 14%">Detail</th>
                <th style="width: 14%">Edit</th>
            </tr>
            </thead>
            <tbody>
            #{list items:airplaneList, as:'airplane'}
            <tr>
                <td data-title="Sign">${airplane.sign}</td>
                <td data-title="Type">${airplane.type}</td>
                <td data-title="Flights"><a href="/${category}/${airplane.id}/flights"><i class="icon-list"></i></a></td>
                <td data-title="Details"><a href="/${category}/${airplane.id}"><i class="icon-plane"></i></a></td>
                <td data-title="Edit"><a href="/${category}/${airplane.id}/edit"><i class="icon-edit"></i></a></td>
            </tr>
            #{/list}
            </tbody>
        </table>
    </section>
