#{extends 'main.html' /}
#{set 'moreScripts'}
#{script 'tooltip.js'/}
#{/set}

#{if user?.id}
    #{set formAction:'/user/'+user.id+'/edit?x-http-method-override=PUT' /}
    #{set action:'Edit'/}
    #{set buttonAction:'Save changes'/}
#{/if}
#{else}
    #{set formAction:'/user/add' /}
    #{set action:'Add'/}
    #{set buttonAction:'Add user'/}
#{/else}

#{set title:"${action} user" /}

<div class="page-header">
    <h1>#{get 'title' /}</h1>
</div>

#{ifErrors}
<div class="alert alert-error">
    Some error occured during form validation!
</div>
#{/ifErrors}

<form action="${formAction}" method="POST" class="form-horizontal">

    <fieldset>
        <legend>General information<a class="required" rel="tooltip" tabindex="-1" href="#" data-original-title="All information in this section are mandatory. Information in other sections are not mandatory.">*</a></legend>
        #{if user?.id}
        <input type="hidden" name="user.id" value="${user.id}">
        #{/if}

        <div class='control-group #{ifError "user.email"}error#{/ifError}'>
            <label class="control-label">Login (Email)</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="user.email" value="${user?.email}">
                <span class="help-inline">#{error 'user.email' /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "user.firstName"}error#{/ifError}'>
            <label class="control-label">First name</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="user.firstName" value="${user?.firstName}">
                <span class="help-inline">#{error 'user.firstName' /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "user.surname"}error#{/ifError}'>
            <label class="control-label">Surname</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="user.surname" value="${user?.surname}">
                <span class="help-inline">#{error 'user.surname' /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "user.birthday"}error#{/ifError}'>
            <label class="control-label">Birth day</label>
            <div class="controls">
                <input type="text" id="date" class="input-small" name="user.birthday" value="${user?.birthday?.formatDate()}" placeholder="dd.mm.yyyy">
                <span class="help-inline">#{error 'user.birthday' /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "user.paymentType"}error#{/ifError}'>
            <label class="control-label">Payment type</label>
            <div class="controls">
                #{list items:paymentTypes, as:'paymentType'}
                <label class="radio inline">
                    <input type="radio" class="payment" name="user.paymentType.id" value="${paymentType.id}" #{if user?.paymentType?.id==paymentType.id}checked#{/if}>${paymentType}
                </label>
                #{/list}
            </div>
            <div class="controls">
                <span class="help-inline">#{error "user.paymentType" /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "user.isActive"}error#{/ifError}'>
            <label class="control-label">Active <a rel="tooltip" href="#" tabindex="-1" data-original-title="Check if user is active">?</a></label>
            <div class="controls">
                <input type="checkbox" name="user.isActive" value="${user?.isActive}" #{if user?.isActive}checked#{/if}>
                <span class="help-inline">#{error 'user.isActive' /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "user.isEnabled"}error#{/ifError}'>
            <label class="control-label">Enabled <a rel="tooltip" href="#" tabindex="-1" data-original-title="Check if user should have access to this app">?</a></label>
            <div class="controls">
                <input type="checkbox" name="user.isEnabled" value="${user?.isEnabled}" #{if user?.isEnabled}checked#{/if}>
                <span class="help-inline">#{error 'user.isEnabled' /}</span>
            </div>
        </div>
    </fieldset>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#date").datepicker({
                dateFormat: 'dd.mm.yy',
                showOn: "button",
                buttonImageOnly: true,
                buttonImage: "/public/img/glyphicons_045_calendar.png",
                firstDay: 1,
                maxDate: "-13y",
                minDate: "-100y",
                changeMonth: true,
                changeYear: true
            })
        });
    </script>

    <fieldset>
        <legend>Contact information</legend>
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        Phone
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <div class='control-group #{ifError "user.phone"}error#{/ifError}'>
                            <label class="control-label">Phone</label>
                            <div class="controls">
                                <input type="text" class="input-medium" name="user.phone" value="${user?.phone}" placeholder="+CCC 999999999">
                                <span class="help-inline">#{error 'user.phone' /}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        IM (Jabber, ICQ, GTalk, Facebook, ...)
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class='control-group #{ifError "user.im"}error#{/ifError}'>
                            <label class="control-label">IM</label>
                            <div class="controls">
                                <input type="text" class="input-medium" name="user.im" value="${user?.im}">
                                <span class="help-block">Write one IM contact which you use.</span>
                                <span class="help-inline">#{error 'user.im' /}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        Address
                    </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <input type="hidden" name="user.address.id" value="${user.address?.id}">
                        <input type="hidden" name="user.address.user.id" value="${user.id}">
                        <div class='control-group #{ifError "user.address.street"}error#{/ifError}'>
                            <label class="control-label">Street</label>
                            <div class="controls">
                                <input type="text" class="input-large" name="user.address.street" value="${user?.address?.street}">
                                <span class="help-inline">#{error 'user.address.street' /}</span>
                            </div>
                        </div>

                        <div class='control-group #{ifError "user.address.houseNumber"}error#{/ifError}'>
                            <label class="control-label">House number</label>
                            <div class="controls">
                                <input type="text" class="input-large" name="user.address.houseNumber" value="${user?.address?.houseNumber}">
                                <span class="help-inline">#{error 'user.address.houseNumber' /}</span>
                            </div>
                        </div>

                        <div class='control-group #{ifError "user.address.town"}error#{/ifError}'>
                            <label class="control-label">Town</label>
                            <div class="controls">
                                <input type="text" class="input-large" name="user.address.town" value="${user?.address?.town}">
                                <span class="help-inline">#{error 'user.address.town' /}</span>
                            </div>
                        </div>

                        <div class='control-group #{ifError "user.address.postalCode"}error#{/ifError}'>
                            <label class="control-label">Postal code</label>
                            <div class="controls">
                                <input type="text" class="input-large" name="user.address.postalCode" value="${user?.address?.postalCode}">
                                <span class="help-inline">#{error 'user.address.postalCode' /}</span>
                            </div>
                        </div>

                        <div class='control-group #{ifError "user.address.country"}error#{/ifError}'>
                            <label class="control-label">Country</label>
                            <div class="controls">
                                <input type="text" class="input-large" name="user.address.country" value="${user?.address?.country}">
                                <span class="help-inline">#{error 'user.address.country' /}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Settings</legend>
        <div class='control-group #{ifError "user.wantsSendNews"}error#{/ifError}'>
            <label class="control-label">Sending news <a rel="tooltip" href="#" tabindex="-1" data-original-title="Check if user want to receive news">?</a></label>
            <div class="controls">
                <input type="checkbox" name="user.wantsSendNews" value="${user?.wantsSendNews}" #{if user?.wantsSendNews}checked#{/if}>
                <span class="help-inline">#{error 'user.wantsSendNews' /}</span>
            </div>
        </div>
        <div class='control-group #{ifError "user.wantsBeInformed"}error#{/ifError}'>
            <label class="control-label">Sending notification <a rel="tooltip" href="#" tabindex="-1" data-original-title="Check if user want to receive notifications about technical state of airplanes etc.">?</a></label>
            <div class="controls">
                <input type="checkbox" name="user.wantsBeInformed" value="${user?.wantsBeInformed}" #{if user?.wantsBeInformed}checked#{/if}>
                <span class="help-inline">#{error 'user.wantsBeInformed' /}</span>
            </div>
        </div>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">${buttonAction}</button>
        <a href="/users" class="btn">Close</a>
    </div>

</form>



