#{extends 'main.html' /}

#{if licence?.id}
#{set formAction:"/user/${licence.user.id}/licence/${licence.id}?x-http-method-override=PUT" /}
#{set buttonAction:"Save edit" /}
#{set action:"Edit"/}
#{/if}
#{else}
#{set formAction:"/user/${licence.user.id}/licence" /}
#{set buttonAction:"Add licence" /}
#{set action:"Add"/}
#{/else}

#{set title:"${action} ${licence.user.firstName} ${licence.user.surname}'s licence" /}
#{set 'moreScripts'}
#{script 'dates.js'/}
#{/set}
<div class="page-header">
    <h1>#{get 'title' /}</h1>
</div>

#{if flash.error}
<div class="alert alert-error">
    ${(flash.error)}
</div>
#{/if}

#{ifErrors}
<div class="alert alert-error">
    Some error occured during instructor price validation!
</div>
#{/ifErrors}

<form action="${formAction}" method="POST" class="form-horizontal">
    <fieldset>
        #{if licence?.id}
        <input type="hidden" name="licence.id" value="${licence.id}">
        #{/if}
        #{if licence?.user}
        <input type="hidden" name="licence.user.id" value="${licence.user.id}">
        #{/if}
        <div class='control-group #{ifError "licence.type"}error#{/ifError}'>
            <label class="control-label">Type</label>
            <div class="controls">
                <select name="licence.type" id="types">
                    <option value="">Select licence type</option>
                    #{list items:models.Licence.LicenceType.values(), as:'type'}
                    <option value="${type}" #{if licence?.type==type}selected#{/if}>${type}</option>
                    #{/list}
                </select>
                <span class="help-inline">#{error "licence.type" /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "licence.number"}error#{/ifError}'>
            <label class="control-label">Number</label>
            <div class="controls">
                <input type="number" class="input-large" name="licence.number" value="${licence?.number}">
                <span class="help-inline">#{error "licence.number" /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "licence.validity"}error#{/ifError}'>
            <label class="control-label">Valid until</label>
            <div class="controls">
                <input type="text" id="validity" class="input-small date" name="licence.validity" placeholder="dd.mm.yyyy" value="${licence?.validity?.formatDate()}">
                <span class="help-inline">#{error "licence.validity" /}</span>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="submit">${buttonAction}</button>
            <a href="/user/${licence.user.id}" class="btn" name="cancel">Cancel</a>
        </div>
    </fieldset>
</form>
