#{extends 'main.html' /}
#{set title:'User details' /}

#{if flash.success}
    <div class="alert alert-success">${flash.success}</div>
#{/if}
<div class="vcard">
    <div class="page-header">
       <h1 class="fn">${user.firstName} ${user.lastName}</h1>
        <p class="pull-right" style="padding-top:0.5em">#{a @Users.editUser(user.id),title:"Edit user details"}<small>Edit user details</small> <img src="/public/img/glyphicons_151_edit.png">#{/a}</p>
    </div>
        *{
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Flights</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Cash-flows</a></li>
            </ul>
        </div>
    </div>
    }*

    <ul class="thumbnails">
        <li class="span3">
            <span class="thumbnail">
                %{String gravatarHash=utils.MD5Util.md5Hex(user.email)}%
                <img class="photo" src='https://gravatar.com/avatar/${gravatarHash}.jpg?s=250&amp;d=identicon&amp;r=pg' width="100%">
            </span>
        </li>
        <li class="span3">
            %{int year=org.joda.time.DateTime.now().getYear()}%
            <div class="alert alert-success">
                <label style="font-size:1.3em">Actual balance:</label>
                <label style="font-size:1.8em;font-weight:bold"> ${user.actualBalance.balance}</label>
            </div>
            <div class="alert alert-info">
                <label style="font-size:1.3em">Gliding hours ${year}:</label>
                <label style="font-size:1.8em;font-weight:bold"> xxxx</label>
            </div>
            <div class="alert alert-info">
                <label style="font-size:1.3em">Motor hours ${year}:</label>
                <label style="font-size:1.8em;font-weight:bold"> xxxx</label>
            </div>
        </li>
        <li class="span4">
            <h2 class="index">General info:</h2>
            <table class="table table-borderless">
                <tr>
                    <td style="width:20%">Id</td>
                    <td>${user.id} <a href="#" title="Download vcard" style="margin-left:5em"><img src="/public/img/glyphicons_200_download.png" alt="Download vcard"></a></td>

                </tr>
                <tr>
                    <td>Email</td>
                    <td><a class="email" href="mailto:${user.email}">${user.email}</a></td>
                </tr>
                #{if user.phone}
                <tr>
                    <td>Phone</td>
                    <td class="tel">${user.phone}</td>
                </tr>
                #{/if}
                #{if user.im}
                <tr>
                    <td>IM</td>
                    <td>${user.im}</td>
                </tr>
                #{/if}
                #{if user?.address?.street || user?.address?.town}
                <tr class="adr">
                    <td>Address</td>
                    <td>
                        <div class="street-address">${user?.address?.street} ${user?.address?.houseNumber}</div>
                        <span class="locality">${user?.address?.town}</span>  <span class="postal-code">${user.address?.postalCode}</span><br>
                        #{if user.address.country}<span class="country-name">${user?.address?.country}</span>#{/if}
                    </td>
                </tr>
                #{/if}
                <tr>
                    <td>Birth day:</td>
                    <td>${user?.birthday?.formatDate()}</td>
                </tr>
            </table>
        </li>
        <li class="span3 offset2">
            <h2 class="index">Licences:</h2>
            #{if user.licences}
            #{list items:user.licences, as:'licence'}
            <div class="btn #{if (licence.validity).isBeforeNow()}btn-danger#{/if}#{else}btn-success#{/else} active btn-block" style="text-align:left; padding-left:1em;padding-right:1em">
                <strong>${licence.type}</strong> <span class="pull-right">#{a @Users.editLicence(licence.user.id,licence.id)}<i class="icon-edit icon-white"></i>#{/a}#{a @Users.deleteLicence(licence.user.id,licence.id)}<i class="icon-remove icon-white" style="margin-left:0.5em"></i>#{/a}</span><br>
                Number: ${licence.number}<br>
                Validity: ${licence.validity.formatDate()}<br>
            </div>
            #{/list}
            #{/if}
            #{else}
            No licences.
            #{/else}
            <div style="padding-top:0.5em">
                #{a @Users.addLicence(user.id)}Add licence#{/a}
            </div>
        </li>
        <li class="span3">
            <h2 class="index">Settings:</h2>
            <table class="table table-borderless">
                <tr>
                    <td style="width:60%">Active</td>
                    <td>#{if user.isActive}<span class="label label-success"><i class="icon-ok-circle icon-white"></i></span>#{/if}#{else}<span class="label label-important"><i class="icon-ban-circle icon-white"></i></span>#{/else}</td>
                </tr>
                <tr>
                    <td>Enabled</td>
                    <td>#{if user.isEnabled}<span class="label label-success"><i class="icon-ok-circle icon-white"></i></span>#{/if}#{else}<span class="label label-important"><i class="icon-ban-circle icon-white"></i></span>#{/else}</td>
                </tr>
                <tr>
                    <td>Payment type</td>
                    <td><span class="label label-info">${user.paymentType}</span></td>
                </tr>
                <tr>
                    <td>Send news</td>
                    <td>#{if user.wantsSendNews}<i class="icon-ok-circle"></i>#{/if}#{else}<i class="icon-remove-circle"></i>#{/else}</td>
                </tr>
                <tr>
                    <td>Send notifications</td>
                    <td>#{if user.wantsBeInformed}<i class="icon-ok-circle"></i>#{/if}#{else}<i class="icon-remove-circle"></i>#{/else}</td>
                </tr>
            </table>
        </li>
    </ul>
</div>

