#{extends 'main.html' /}
#{set title:'Users' /}

#{set 'moreScripts'}
#{script 'sessvars.js'/}
#{script 'spin.js'/}
#{script 'tooltip.js'/}
#{script 'loading.js'/}
#{/set}

<div class="page-header">
    <h1>#{get 'title' /}</h1>
</div>

<div style="margin-bottom:1.5em;margin-top:1.5em">
    <a class="btn btn-info" href="/user/add" title="Click to add a new user">
        <i class="icon-plus icon-white"></i>
        Add user
    </a>
</div>

<div class="row-fluid">
    <div class="span1">
        <select class="input-mini" id="size" title="Select how many rows should be shown">
            <option value="10">10</option>
            <option value="30">30</option>
            <option value="50">50</option>
        </select>
    </div>
    <div class="span11" style="text-align:right">
        <div class="form-inline">
            <div class="btn-group">
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" title="Export">
                    <i class="icon-download icon-white"></i><i class="icon-file icon-white"></i>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="text-align:left">
                    <li><a id="pdfBalances" href="">Balances pdf</a></li>
                    <li><a href="#">Balances xls</a></li>
                    <li><a id="pdfContacts" href="">Contacts pdf</a></li>
                    <li><a href="#">Contacts xls</a></li>
                </ul>
            </div>

            <div class="input-append">
                <input class="input-mini" type="text" id="monthYear" placeholder="mm/yyyy">
            </div>
            <a rel="tooltip" href="#" tabindex="-1" data-original-title="Balances to given month and year will be shown.">?</a>
            <div class="input-prepend">
                <div id="comparator" class="btn-group" data-toggle="buttons-radio">
                    <button class="btn" data-toggle="button" title="Click to sort by balance higher than" value=">">
                        >
                    </button>
                    <button class="btn active"  data-toggle="button" title="Click to sort by balance lower than" value="<">
                        <
                    </button>
                    <input type="number" id="balance" class="input-mini" placeholder="Balance">
                </div>
            </div>

            <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-user"></i></span> <input class="input-large" type="text" id="user" placeholder="User name or id"><span class="add-on"><i class="icon-filter"></i></span><button title="Filter table on given conditions" id="search" class="btn btn-info" type="submit"><i class="icon-search icon-white"></i></button>
            </div>
        </div>
    </div>
</div>

<div id="users" class="dynamicContent">
</div>
<iframe id="download" class="hide"></iframe>
<script type="text/javascript" charset="${_response_encoding}">
    $(document).ready(function(){
        // Rebuild state
        $('#monthYear').val(sessvars.monthYear)
        $('#user').val(sessvars.name)
        $('#balance').val(sessvars.balance)
        if(sessvars.page == undefined) {
            sessvars.page = 1
        }
        if(sessvars.size == undefined) {
            sessvars.size = 10
        }
        $('#size option[value='+sessvars.size+']').attr('selected', 'true')

        // Search function
        var search = function() {
            sessvars.monthYear=$('#monthYear').val()
            sessvars.comparator=$('#comparator button.active').val()
            sessvars.balance=$('#balance').val()
            sessvars.user = $('#user').val()

            sessvars.size = $('#size').val()

            sessvars.sId=$('#sId button.active').val()
            sessvars.sUser=$('#sUser button.active').val()
            sessvars.sBalance=$('#sBalance button.active').val()

            var listAction = #{jsAction @listUsers(':action',':format',':size', ':page', ':user', ':balance', ':comparator',':monthYear', ':sId', ':sUser', ':sBalance') /}
            $('#users').load(listAction({action:"list",format:"html",size: sessvars.size, page: sessvars.page, user: sessvars.user, balance: sessvars.balance, comparator: sessvars.comparator,monthYear:sessvars.monthYear ,sId: sessvars.sId, sUser: sessvars.sUser, sBalance: sessvars.sBalance, type:""}), function() {
                $('#content').css('visibility', 'visible')
            })
            sessvars.$.clearMem();
        }

        // Events handler
        $('#search').click(function() {
            sessvars.page = 1
            search()
        })
        $('#user').keyup(function(e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if(code==13){
                sessvars.page = 1
                search()
            }
        })
        $('#balance').keyup(function(e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if(code==13){
                sessvars.page = 1
                search()
            }
        })
        $(document.body).on("click",'#pagination a',function(e) {
            sessvars.page = $(this).attr('href')
            e.preventDefault()
            search()
        })
        $('#size').change(function(){
            sessvars.page = 1
            search()
        })


        $(document).on("click",'.sort',function(e) {
            e.preventDefault()
            search();
        })
        sessvars.page = 1;
        search();

        $('#pdfContacts').click(function(e){


            sessvars.monthYear=$('#monthYear').val()
            sessvars.comparator=$('#comparator button.active').val()
            sessvars.balance=$('#balance').val()
            sessvars.user = $('#user').val()

            sessvars.size = $('#size').val()

            sessvars.sId=$('#sId button.active').val()
            sessvars.sUser=$('#sUser button.active').val()
            sessvars.sBalance=$('#sBalance button.active').val()

            var contactAction = #{jsRoute @getContacts(':action', ':format', ':size', ':page', ':user', ':balance', ':comparator',':monthYear',':sId', ':sUser', ':sBalance') /};
            document.getElementById('download').src = contactAction.url({action:"contacts",format:"pdf",size: sessvars.size, page: sessvars.page, user: sessvars.user, balance: sessvars.balance, comparator: sessvars.comparator, monthYear: sessvars.monthYear ,sId: sessvars.sId, sUser: sessvars.sUser, sBalance: sessvars.sBalance});
            e.preventDefault();
        });

        $('#pdfBalances').click(function(e){


        sessvars.monthYear=$('#monthYear').val()
        sessvars.comparator=$('#comparator button.active').val()
        sessvars.balance=$('#balance').val()
        sessvars.user = $('#user').val()
        sessvars.size = $('#size').val()

        sessvars.sId=$('#sId button.active').val()
        sessvars.sUser=$('#sUser button.active').val()
        sessvars.sBalance=$('#sBalance button.active').val()

        var contactAction = #{jsRoute @getBalances(':action', ':format', ':size', ':page', ':user', ':balance', ':comparator',':monthYear',':sId', ':sUser', ':sBalance') /};
        document.getElementById('download').src = contactAction.url({action:"balances",format:"pdf",size: sessvars.size, page: sessvars.page, user: sessvars.user, balance: sessvars.balance, comparator: sessvars.comparator, monthYear: sessvars.monthYear ,sId: sessvars.sId, sUser: sessvars.sUser, sBalance: sessvars.sBalance});
        e.preventDefault();
        });
    })



    $('#monthYear').datepicker( {
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'mm/yy',
        maxDate: new Date(),
        showOn: "button",
        onClose: function(dateText, inst) {
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).datepicker('option', 'defaultDate', new Date(year, month, 1));
            $(this).datepicker('setDate', new Date(year, month, 1));
            $('button.ui-datepicker-trigger').addClass('btn');
            $('button.ui-datepicker-trigger').empty();
            $('button.ui-datepicker-trigger').append('<i class="icon icon-calendar"></i>')
        }
    });

    $("#monthYear").focus(function () {
        $(".ui-datepicker-calendar").hide();
        $("#ui-datepicker-div").position({
            my: "center top",
            at: "center bottom",
            of: $(this)
        });
    });

    $('button.ui-datepicker-trigger').addClass('btn');
    $('button.ui-datepicker-trigger').empty();
    $('button.ui-datepicker-trigger').append('<i class="icon icon-calendar"></i>')

</script>

