#{if userList}
<section id="no-more-tables">
    <table id="users" class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th style="width: 5%">
                    <div id="sId" class="btn-group" data-toggle="buttons-radio" style="display:inline;">
                        <button class='btn btn-mini btn-link sort #{if sId.equals("asc")}active#{/if}' data-toggle="button" title="Sort by user id ascendant" value="asc">
                            <i class="icon-chevron-up"></i>
                        </button>
                        <button class='btn btn-mini btn-link sort #{if sId.equals("desc")}active#{/if}' data-toggle="button" title="Sort by user id descendant" value="desc">
                            <i class="icon-chevron-down"></i>
                        </button>
                    </div>
                    #
                </th>
                <th>
                    <div id="sUser" class="btn-group" data-toggle="buttons-radio" style="display:inline;">
                        <button class='btn btn-mini btn-link sort #{if sUser.equals("asc")}active#{/if}' data-toggle="button" title="Sort by user name ascendant" value="asc">
                            <i class="icon-chevron-up"></i>
                        </button>
                        <button class='btn btn-mini btn-link sort #{if sUser.equals("desc")}active#{/if}' data-toggle="button" title="Sort by user name descendant" value="desc">
                            <i class="icon-chevron-down"></i>
                        </button>
                    </div>
                    Name
                </th>
                <th>Email</th>
                <th style="width: 8%">
                    <div id="sBalance" class="btn-group" data-toggle="buttons-radio" style="display:inline;">
                        <button class='btn btn-mini btn-link sort #{if sBalance.equals("asc")}active#{/if}' data-toggle="button" title="Sort by user balance ascendant" value="asc">
                            <i class="icon-chevron-up"></i>
                        </button>
                        <button class='btn btn-mini btn-link sort #{if sBalance.equals("desc")}active#{/if}'  data-toggle="button" title="Sort by user balance descendant" value="desc">
                            <i class="icon-chevron-down"></i>
                        </button>
                    </div>
                    Balance
                </th>
                <th style="width: 4%">Jobs</th>
                <th style="width: 5%">Cash-flow</th>
                <th style="width: 4%">Flights</th>
                <th style="width: 4%">Details</th>
                <th style="width: 4%">Edit</th>
            </tr>
        </thead>
        <tbody>
            #{list items:userList, as:'user'}
            <tr>
                <td data-title="Id">${user.id}</td>
                <td data-title="Name">${user.lastName} ${user.firstName}</td>
                <td data-title="Email">${user.email}</td>
                *{%{
                    if(user.balance){
                        balance=user.balance
                    }
                    else{
                        balance=user.actualBalance.balance
                    }
                }%  }*
                <td data-title="Balance" class="#{if user.balance<0}negative#{/if}#{else}positive#{/else}">${user.balance.format()}</td>
                <td data-title="Jobs"><a href="@{Jobs.indexUserJobs(user.id)}" title="Show user jobs"><i class="icon-wrench"></i></a></td>
                <td data-title="Cash-flow"><a href="@{CashFlows.indexUserCashFlows(user.id)}" title="Show user cash-flow"><i class="icon-list"></i></a></td>
                <td data-title="Flights"><a href="@{Flights.indexUserFlights(user.id)}" title="Show user flights"><i class="icon-plane"></i></a></td>
                <td data-title="Details"><a href="@{indexUser(user.id)}" title="Show user details"><i class="icon-user"></i></a></td>
                <td data-title="Edit"><a href="@{editUser(user.id)}" title="Edit user"><i class="icon-edit"></i></a></td>
            </tr>
            #{/list}
        </tbody>
    </table>
    #{include 'pagination.html' /}
</section>
#{/if}
#{else}
    #{if name}
    <p>
        No results
    </p>
    #{/if}
    #{else}
    <p>
        No users
    </p>
    #{/else}
#{/else}
