#{extends 'main.html' /}

#{set title:"Edit fee" /}

#{set 'moreStyles'}
#{stylesheet 'custom-theme/jquery-ui-1.8.16.custom.css' /}
#{/set}


#{set 'moreScripts'}
#{script 'jquery-ui-1.8.16.custom.min.js'/}
#{script 'jquery-ui-timepicker-addon.js'/}
#{script 'jquery_mobile_accessibility.js'/}
#{/set}

<div class="modal hide" id="editFee">

    <form action="/cashflow/${fee.type}/${fee.id}/edit" method="POST" class="modal-form">
        <div class="modal-header">
            <a type="button" href="/cashflows" class="close">×</a>
            <h3>#{get 'title' /}</h3>
        </div>

        <div class="modal-body">
            <fieldset>
                #{ifErrors}
                <div class="alert alert-error">
                    Some error occured during fee edit validation!
                </div>
                #{/ifErrors}
                #{if fee?.id}
                <input type="hidden" name="fee.id" value="${fee.id}">
                #{/if}
                <input type="hidden" name="fee.type" value="${fee.type}">
                <div class='control-group #{ifError "fee.user"}error#{/ifError}'>
                    <label class="control-label">User</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge autocomplete" id="${fee?.user.id}" name="fee.user.id" data-url="@{Users.autocomplete()}" value="#{if fee.user}${fee.user.id} ${fee.user.firstName} ${fee.user.surname}#{/if}">
                    </div>
                    <span class="help-inline">#{error "fee.user" /}</span>
                </div>

                <div class='control-group #{ifError "fee.price"}error#{/ifError}'>
                    <label class="control-label">Fee</label>
                    <div class="controls">
                        #{list items:feePrices, as:'feePrice'}
                        <label class="radio inline">
                            <input type="radio" id="${feePrice.price}" name="fee.price.id" value="${feePrice.id}" #{if fee.price.id==feePrice.id}checked#{/if}>${feePrice.name}
                        </label>
                        #{/list}
                        <label class="radio inline">
                            <span class="help-inline">#{error "fee.price" /}</span>
                        </label>
                    </div>
                </div>

                <div class='control-group  #{ifError "fee.amount"}error#{/ifError}'>
                    <label class="control-label" for="amount">Amount</label>
                    <div class="controls">
                        <input type="number" class="input-mini" id="amount" name="fee.amount" value="${fee?.amount}" placeholder="0.0">
                    </div>
                    <span class="help-inline">#{error "fee.amount" /}</span>
                </div>

                *{
                <div class='control-group  #{ifError "fee.description"}error#{/ifError}'>
                    <label class="control-label" for="desc">Description</label>
                    <div class='controls'>
                        <textarea class="input-large" id="desc" name="fee.description" rows="1">#{if fee?.description}${fee.description}#{/if}#{else}${description}#{/else}</textarea>
                        <span class="help-inline">#{error "fee.description" /}</span>
                    </div>
                </div>
                }*

                <!--TODO add that this is not required field-->
                <div class='control-group  #{ifError "fee.user"}error#{/ifError}'>
                    <label class="control-label" for="date">Date</label>
                    <div class="controls">
                        <input type="text" class="input-small" id="date" name="fee.date" value="${fee?.date?.formatDate()}">
                        <span class="help-inline">#{error "fee.date" /}</span>
                    </div>
                </div>


            </fieldset>
        </div>
        <div class="modal-footer">
            <!--<button type="submit" class="btn" data-dismiss="modal">Close</button>-->
            <a href="/cashflows" class="btn">Close</a>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>

<!--autocomplete-->
<script language="javascript" type="text/javascript">
    $('input.autocomplete').each( function() {
        var $input = $(this);

        // Create a hidden input with the same form control name to submit the value.
        var controlName = $input.attr('name');
        var $hidden = $('<input type="hidden"/>').attr('name', controlName);
        $hidden.val($input.attr('id'));
        $input.after($hidden).attr('name', controlName + '_label');

        // Set-up the autocomplete widget.
        var serverUrl = $input.data('url');
        $(this).autocomplete({
            source: serverUrl,
            focus: function(event, ui) {
                // Set the text input value to the focused item's label, instead of the value.
                $input.val(ui.item.label);
                return false;
            },
            select: function(event, ui) {
                // Save the selection item and value in the two inputs.
                $input.val(ui.item.label);
                $hidden.val(ui.item.value);
                return false;
            }
        });
    });

</script>

<!--datepicker-->
<script>
    $( "#date" ).datepicker({
    dateFormat: "dd.mm.yy",
    maxDate: '+0d',
    minDate: '-6m'
    });
    $('#date').datepicker("setDate", new Date() );
</script>

<script type="text/javascript">
    $('#editFee').modal({
    keyboard: false,
    backdrop: 'static'
    })
</script>

<script type="text/javascript">
    $('input:radio').change(
        function(e){
            $('#amount').attr("value",$(this).attr("id"));
        }
    );
</script>