#{extends 'main.html' /}

#{set title:'Pay fee' /}

#{set 'moreStyles'}
 #{stylesheet 'datatables_bootstrap.css'/}
#{/set}

#{set 'moreScripts'}
#{script 'jquery.dataTables.min.js'/}
#{script 'datatables_bootstrap.js'/}
#{script 'jquery.dataTables.columnFilter.js'/}
#{/set}
<div class="page-header">
    <h1>#{get 'title' /}</h1>
</div>

#{ifErrors}
<div class="alert alert-error">
    <p>
        Some error occured during fee payment validation!
    </p>
    <p>
        <i class="icon-warning-sign"></i>
        <strong>Warning!</strong> You have to select users again. Previous selection has been cleared.
    </p>
</div>
#{/ifErrors}


*{#{form @CashFlows.payFee(),method:'POST',id:'usersFees'}}*
<form id="usersFees">
    <fieldset>
        <legend>Fee</legend>
        <div class='control-group #{ifError "feePriceId"}error#{/ifError}'>
            <select class="input-xxlarge" id="feePriceId" name="feePriceId" >
                <option value="">Select fee type</option>
                #{list items:feePrices, as:'feePrice'}
                        <option value="${feePrice.id}" #{if feePriceId==feePrice.id}selected#{/if}>${feePrice.name}
                #{/list}
            </select>
            <span class="help-block">#{error "feePriceId" /}</span>
        </div>
    </fieldset>
    <fieldset>
        <legend>Users</legend>

        <label class="control-label" style="padding-bottom:2em">Select users who should pay the fee</label>
        <div class='control-group #{ifError "usersList"}error#{/ifError}'>
            <span class="help-block">#{error "usersList" /}</span>
        </div>
        <table id="usersList" class="table table-striped table-bordered" cellspacing="0" cellpadding="0" border="0">
            <thead>
                <tr>
                    <th>Chosen</th>
                    <th>User</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                #{list items:users, as:'user'}
                    <tr>
                        <td>
                            <input type="checkbox" name="selectedUsers[${user_index-1}]" value="${user.id}" checked>
                        </td>
                        <td>
                            ${user}
                        </td>
                        <td>
                            ${user.age}
                        </td>
                    </tr>
                #{/list}
            </tbody>
            <tfoot>
            <tr>
                <th>Chosen</th>
                <th>User</th>
                <th>Age</th>
            </tr>
            </tfoot>
        </table>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" name="submit">Pay fees</button>
        <button type="reset" class="btn" name="cancel">Cancel</button>
    </div>
*{#{/form} }*
</form>


<script type="text/javascript">
    $(document).ready(function() {
        $('#usersList').dataTable( {
            "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page"
            }
        } ).columnFilter({
            aoColumns: [
                null,
                { type: "text", bRegex:true },
                { type: "number-range" }
            ]});
        $('th').removeAttr("style");
    } );

   $('#usersFees').submit( function(e) {
        var list=$('input', oTable.fnGetNodes());
        var id=$('#feePriceId').val();

        console.log($('#feePriceId').serialize());

        var actionRoute = #{jsAction @payFee()/};

    *{   $.ajax({
            url: '/fee/pay',
            type: 'POST',
            data: list.serialize()+'&'+$('#feePriceId').serialize()
        });                 }*
        $.post(actionRoute(),list.serialize()+'&'+$('#feePriceId').serialize(),function(){
            window.location.href="/cashflows";
        });
        e.preventDefault();
    } );
</script>
