#{extends 'main.html' /}

#{if cashFlow?.id}
    #{set action: "Edit" /}
    #{set formAction: "/${cashFlow.id}" /}
    #{set buttonAction: 'Save changes'/}
#{/if}
#{else}
    #{if user}
        #{set action: "Add ${user.firstName} ${user.surname}" /}
    #{/if}
    #{else}
        #{set action: "Add" /}
    #{/else}
    #{set formAction: "" /}
    #{set buttonAction: "Add ${cashFlow.type}"/}
#{/else}

#{if cashFlow.type==models.cashflows.CashFlow.FlowType.income}
    #{set description:"Deposit"/}
#{/if}
#{else}
    #{set description:"Some expenditure"/}
#{/else}

#{set title:"${action} ${cashFlow.type}" /}

#{set 'moreScripts'}
    #{script 'autocomplete.js'/}
#{/set}

<div class="modal hide" id="addCashFlow">

    <form action="/cashflow/${cashFlow.type}" method="POST" class="modal-form">
        <div class="modal-header">
            <a type="button" href="/cashflows" class="close">×</a>
            <h3>#{get 'title' /}</h3>
        </div>
        #{ifErrors}
        #{/ifErrors}
        <div class="modal-body">
            <fieldset>
                #{if cashFlow?.id}
                    <input type="hidden" name="cashFlow.id" value="${cashFlow.id}">
                #{/if}
                <input type="hidden" name="cashFlow.type" value="${cashFlow.type}">
                <div class='control-group #{ifError "cashFlow.user"}error#{/ifError}'>
                    <label class="control-label">User</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge autocomplete" data-url="@{Users.autocomplete()}" value="#{if cashFlow.user}${cashFlow.user}#{/if}#{elseif user}${user}#{/elseif}" #{if user}readonly#{/if}>
                        <input type="hidden" name="cashFlow.user.id" value="#{if cashFlow.user}${cashFlow.user.id}#{/if}#{elseif user}${user.id}#{/elseif}">
                    </div>
                    <span class="help-inline">#{error "cashFlow.user" /}</span>
                </div>

                <div class='control-group  #{ifError "cashFlow.amount"}error#{/ifError}'>
                    <label class="control-label" for="amount">Amount</label>
                    <div class="controls">
                        <input type="number" class="input-mini" id="amount" name="cashFlow.amount" value="${cashFlow?.amount}" placeholder="0.0">
                    </div>
                    <span class="help-inline">#{error "cashFlow.amount" /}</span>
                </div>

                <div class='control-group  #{ifError "cashFlow.description"}error#{/ifError}'>
                    <label class="control-label" for="desc">Description</label>
                    <div class='controls'>
                        <textarea class="input-xlarge" id="desc" name="cashFlow.description" rows="1">#{if cashFlow?.description}${cashFlow.description}#{/if}#{else}${description}#{/else}</textarea>
                        <span class="help-inline">#{error "cashFlow.description" /}</span>
                    </div>
                </div>

                <!--TODO add that this is not required field-->
                <div class='control-group  #{ifError "cashFlow.user"}error#{/ifError}'>
                    <label class="control-label" for="date">Date</label>
                    <div class="controls">
                        <input type="text" class="input-small" id="date" name="cashFlow.date" value="${cashFlow?.date?.formatDate()}">
                        <span class="help-inline">#{error "cashFlow.date" /}</span>
                    </div>
                </div>


            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">${buttonAction}</button>
            <a href="/cashflows" class="btn">Close</a>
        </div>
    </form>
</div>

<!--datepicker-->
<script>
    $( "#date").datepicker({
        dateFormat: "dd.mm.yy",
        maxDate: '+0d',
        minDate: '-6m',
        showOn: 'button',
        buttonImage: '/public/img/glyphicons_045_calendar.png',
        buttonImageOnly: true
    });
</script>

<script type="text/javascript">
    $('#addCashFlow').modal({
        keyboard: false,
        backdrop: 'static'
    })
</script>