#{extends 'main.html' /}

#{if user}
    #{set title:"${user.firstName} ${user.surname} cash-flow" /}
#{/if}
#{else}
    #{set title:'Cash-Flow' /}
#{/else}

#{set 'moreStyles'}
#{stylesheet 'daterangepicker.css'/}
#{/set}

#{set 'moreScripts'}
    #{script 'date.js'/}
    #{script 'daterangepicker.js'/}
    #{script 'sessvars.js'/}
    #{script 'spin.js'/}
    #{script 'loading.js'/}
#{/set}

<div class="page-header">
    <h1>#{get 'title' /}</h1>
</div>

#{if flash.error}
<div class="alert alert-error">
    ${(flash.error)}
</div>
#{/if}

#{if flash.success}
<div class="alert alert-success">
    ${(flash.success)}
</div>
#{/if}
<div style="margin-bottom:1.5em;margin-top:1.5em">
#{if user}
     #{a @CashFlows.addUsersIncome(user.id),class:"btn btn-success"}<i class="icon-plus icon-white"></i>Add ${user.firstName} ${user.surname} income#{/a}
     #{a @CashFlows.addUsersExpenditure(user.id),class:"btn btn-danger"}<i class="icon-minus icon-white"></i>Add ${user.firstName} ${user.surname} expenditure#{/a}
#{/if}
#{else}
    <a class="btn btn-success" href="/cashflow/income">
        <i class="icon-plus icon-white"></i>
        Add income
    </a>
    <a class="btn btn-danger" href="/cashflow/expenditure">
        <i class="icon-minus icon-white"></i>
        Add expenditure
    </a>
    <a class="btn btn-danger" href="/fee/pay">
        <i class="icon-minus icon-white"></i>
        Pay fee
    </a>

#{/else}
</div>

<div class="row-fluid">
    <div class="span1">
        <select class="input-mini" id="size">
            <option value="10">10</option>
            <option value="30">30</option>
            <option value="50">50</option>
        </select>
    </div>

    <div class="span11" style="text-align:right">

        <div class="form-inline">
            <div class="btn-group">
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-download icon-white"></i><i class="icon-file icon-white"></i>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="text-align:left">
                    <li><a id="pdfCashflows" href="">pdf</a></li>
                    <li><a href="#">xls</a></li>
                </ul>
            </div>

            <select id="types">
                <option value="">Select flow type</option>
                #{list items:models.cashflows.CashFlow.FlowType.values(), as:'type'}
                    <option value="${type}">${type}</option>
                #{/list}
            </select>

            <div class="input-append"><input id="from" type="text" class="input-small search" placeholder="from"/><input id="to" type="text" class="input-small search" placeholder="to"/><span class="add-on"><i class="icon-calendar"></i></span></div>
            <div class="input-prepend input-append"><span class="add-on #{if user}hide#{/if}"><i class="icon-user"></i></span><input id="user" type="text" class="input-large search #{if user}hide#{/if}" placeholder="User name or id" value="#{if user}${user.id}#{/if}"/><span class="add-on"><i class="icon-filter"></i></span><button id="search" class="btn btn-info"><i class="icon-search icon-white"></i></button></div>
        </div>
    </div>
</div>

<div id="cashflow" class="dynamicContent">
</div>
<iframe id="download" class="hide"></iframe>

<script type="text/javascript" charset="${_response_encoding}">
 $(document).ready(function(){
    // Rebuild state
    $("#types").val($("#types option:first").val());
    $('#from').val(sessvars.from)
    $('#to').val(sessvars.to)
    #{ifnot user}
    $('#user').val(sessvars.user)
    #{/ifnot}
    if(sessvars.page == undefined) {
        sessvars.page = 1
    }
    if(sessvars.size == undefined) {
        sessvars.size = 10
    }
    $('#size option[value='+sessvars.size+']').attr('selected', 'true')

    // Search function
    var search = function() {

        sessvars.type = $("#types option:selected").val();
        sessvars.from=$('#from').val()
        sessvars.to=$('#to').val()
        sessvars.user = $('#user').val()

        sessvars.sDate=$('#sDate button.active').val()
        sessvars.sUser=$('#sUser button.active').val()
        sessvars.sType=$('#sType button.active').val()

        sessvars.size = $('#size').val()

        var listAction = #{jsAction @listCashFlows(':size', ':page', ':type', ':from', ':to', ':user', ':sDate', ':sUser', ':sType') /}
        $('#cashflow').load(listAction({size: sessvars.size, page: sessvars.page, type: sessvars.type, from:sessvars.from, to:sessvars.to, user: sessvars.user, sDate: sessvars.sDate, sUser: sessvars.sUser, sType: sessvars.sType}), function() {
            $('#content').css('visibility', 'visible')
        })
        sessvars.$.clearMem();
    }

    // Events handler
    $('#search').click(function() {
        sessvars.page = 1
        search()
    })

    $('#user').keyup(function(e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if(code==13){
        sessvars.page = 1
        search()
    }
    })
    $(document.body).on("click",'#pagination a',function(e) {
        sessvars.page = $(this).attr('href')
        e.preventDefault()
        search()
    })
    $('#size').change(function(){
        sessvars.page = 1
        search()
    })

    $(document).on("click",'.sort',function(e) {
        e.preventDefault()
        search();
    })
    sessvars.page = 1;
    search();


    $('#pdfCashflows').click(function(e){
        sessvars.type = $("#types option:selected").val();
        sessvars.from=$('#from').val()
        sessvars.to=$('#to').val()
        sessvars.user = $('#user').val()

        var action = #{jsRoute @getCashFlows(':format',':type', ':from', ':to', ':user') /};
        document.getElementById('download').src = action.url({format:"pdf",type: sessvars.type, from: sessvars.from, to: sessvars.to, user: sessvars.user});
        e.preventDefault();
    });
 })
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#from,#to').daterangepicker({
            dateFormat: 'dd.mm.yy',
            maxDate: '+0d',
            latestDate: 'today',
            datepickerOptions:{
                changeMonth: true,
                changeYear: true
            }
        });
    })
</script>

