#{set 'moreScripts'}
#{script 'date.js'/}
#{script 'daterangepicker.js'/}
#{/set}
#{set 'moreStyles'}
#{stylesheet 'daterangepicker.css'/}
#{/set}

#{if cashFlows}
<section id="no-more-tables">

    <table id="cashFlows" class="table table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th style="width: 8%">
                <div id="sDate" class="btn-group" data-toggle="buttons-radio" style="display:inline;">
                    <button class='btn btn-mini btn-link sort #{if sDate.equals("asc")}active#{/if}' data-toggle="button" title="Sort by date ascendant" value="asc">
                        <i class="icon-chevron-up"></i>
                    </button>
                    <button class='btn btn-mini btn-link sort #{if sDate.equals("desc")}active#{/if}' data-toggle="button" title="Sort by date descendant" value="desc">
                        <i class="icon-chevron-down"></i>
                    </button>
                </div>
                Date
            </th>
            <th>
                <div id="sUser" class="btn-group" data-toggle="buttons-radio" style="display:inline;">
                    <button class='btn btn-mini btn-link sort #{if sUser.equals("asc")}active#{/if}' data-toggle="button" title="Sort by user name ascendant" value="asc">
                        <i class="icon-chevron-up"></i>
                    </button>
                    <button class='btn btn-mini btn-link sort #{if sUser.equals("desc")}active#{/if}' data-toggle="button" title="Sort by user name descendant" value="desc">
                        <i class="icon-chevron-down"></i>
                    </button>
                </div>
                User
            </th>
            <th style="width: 12%">
                <div id="sType" class="btn-group" data-toggle="buttons-radio" style="display:inline;">
                    <button class='btn btn-mini btn-link sort #{if sType.equals("asc")}active#{/if}' data-toggle="button" title="Sort by type ascendant" value="asc">
                        <i class="icon-chevron-up"></i>
                    </button>
                    <button class='btn btn-mini btn-link sort #{if sType.equals("desc")}active#{/if}' data-toggle="button" title="Sort by type descendant" value="desc">
                        <i class="icon-chevron-down"></i>
                    </button>
                </div>
                Type
            </th>
            <th>Description</th>
            <th style="width: 8%">Amount</th>
            <th style="width: 4%">Edit</th>
            <th style="width: 4%">Delete</th>
        </tr>
        </thead>
        <tbody>
        #{list items:cashFlows, as:'cashFlow'}
        <tr>
            <td data-title="Date">${cashFlow.date.formatDate()}</td>
            <td data-title="User">${cashFlow.user}</td>
            <td date-title="Type">${cashFlow.type}</td>
            <td data-title="Description">${cashFlow.getDescription()} #{if cashFlow.type==models.cashflows.CashFlow.FlowType.flight} %{flightBill=(models.cashflows.FlightBill)cashFlow}% #{a @Flights.indexFlight(flightBill?.flight?.id)}<i class="icon-share-alt"></i>#{/a}#{/if}#{elseif cashFlow.type==models.cashflows.CashFlow.FlowType.instructor}%{instructorWork=(models.cashflows.InstructorWork)cashFlow}% #{a @Flights.indexFlight(instructorWork?.instructorFlight?.id)}<i class="icon-share-alt"></i>#{/a}#{/elseif}</td>
            <td data-title="Amount" class="#{if cashFlow.amount<0}negative#{/if}#{else}positive#{/else}">${cashFlow.amount.format()}</td>
            <td data-title="Edit">#{if cashFlow.isEditable()}<a href="/cashflow/${cashFlow.type}/${cashFlow.id}"><i class="icon-edit"></i></a>#{/if}</td>
            <td data-title="Delete">#{if cashFlow.isEditable()}#{a @CashFlows.deleteCashFlow(cashFlow.id),class:"confirmCashFlowDelete"}<i class="icon-remove"></i>#{/a}#{/if}</td>
        </tr>
        #{/list}
        </tbody>
    </table>
    #{include 'pagination.html' /}
</section>
#{/if}
#{else}
        No cash flow
#{/else}
<div class="modal hide" id="confirmationCashFlowDelete">
    <div class="alert alert-block alert-warning fade in">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="alert-heading">Warning!</h3>
    </div>
    <div class="modal-body">
        <p>Do you really want to delete this cash flow?</p>
    </div>
    <div class="modal-footer">
        <a href="" id="deleteCashFlow" class="btn btn-warning">Delete</a>
        <a href="" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

<script type="text/javascript">

</script>

<script type="text/javascript">
    $(document).on("click", "a.confirmCashFlowDelete", function (event) {
        event.preventDefault();
        var targetUrl = $(this).attr("href");
        $('#confirmationCashFlowDelete').modal();
        $("#deleteCashFlow").attr("href",targetUrl);
    });
</script>
