#{if towFlight}
<div id="towFlight">
    <legend>Tow flight</legend>
    #{if towFlight?.id}
    <input type="hidden" name="towFlight.id" value="${towFlight.id}">
    #{/if}
    <div class='control-group #{ifError "towFlight.pilot"}error#{/ifError}'>
        <label class="control-label">Tow pilot</label>
        <div class="controls">
            <input type="text" class="input-xxlarge autocomplete" data-url="@{Users.autocomplete()}" value="#{if flight?.towFlight?.pilot}${flight?.towFlight?.pilot}#{/if}">
            <input type="hidden" name="towFlight.pilot.id" value="#{if flight?.towFlight?.pilot}${flight?.towFlight?.pilot.id}#{/if}">
            <span class="help-inline">#{error "towFlight.pilot" /}</span>
        </div>
    </div>


    <div class='control-group #{ifError "towFlight.airplane"}error#{/ifError}'>
        <label class="control-label">Tow plane</label>
        <div class="controls">
            <input type="text" class="input-xxlarge autocomplete" data-url="/glider/autocomplete" value="#{if flight?.towFlight?.airplane}${towFlight.airplane}#{/if}">
            <input type="hidden" name="towFlight.airplane.id" value="#{if flight?.towFlight?.airplane}${towFlight.airplane.id}#{/if}">
            <span class="help-inline">#{error "towFlight.airplane" /}</span>
        </div>
    </div>


    <div class='control-group #{ifError "towFlight.arrivalTime"}error#{/ifError}'>
        <label class="control-label">Arrival</label>
        <div class="controls">
            <div class="input-append"><input type="text" class="input-medium" id="towArrival" name="towFlight.arrivalTime" placeholder="dd.mm.yyyy HH:MM" value="${flight?.towFlight?.arrivalTime?.formatDateTime()}" readonly><span class="add-on"><i class="icon-calendar"></i></span></div>
            <input type="text" class="input-medium" name="towFlight.arrivalPlace" placeholder="Place" value="${flight?.towFlight?.arrivalPlace}">
            <span class="help-inline error">#{error "towFlight.arrivalTime" /}</span>
            <span class="help-inline error">#{error "towFlight.arrivalPlace" /}</span>
        </div>
    </div>

    <div class='control-group #{ifError "towFlight.duration"}error#{/ifError}'>
        <label class="control-label">Duration</label>
        <div class="controls">
            <input type="text" class="input-mini" id="towDuration" name="towFlight.duration" placeholder="HH:MM" value="${towFlight?.duration?.format()}">
            <span class="help-inline">#{error "towFlight.duration" /}</span>
        </div>
    </div>
</div>
#{/if}

<script type="text/javascript">

    function addTowForm(){
    var newElement=$(
    '<div id="towInput">'+
    '<legend>Tow flight</legend>'+
    '<div class="control-group">'+
        '<label class="control-label">Tow pilot</label>'+
        '<div class="controls">'+
            '<input type="text" class="input-xxlarge autocomplete" data-url="@{Users.autocomplete()}">'+
            '<input type="hidden" name="towFlight.pilot.id">'+
            '</div>'+
        '</div>'+
    ''+
    '<div class="control-group">'+
        '<label class="control-label">Tow plane</label>'+
        '<div class="controls">'+
            '<input type="text" class="input-xxlarge autocomplete" data-url="/aircraft/tow/autocomplete">'+
            '<input type="hidden" name="towFlight.airplane.id">'+
            '</div>'+
        '</div>'+
    ''+
    ''+
    '<div class="control-group">'+
        '<label class="control-label">Arrival</label>'+
        '<div class="controls">'+
            '<div class="input-append"><input type="text" class="input-medium" id="towArrival" name="towFlight.arrivalTime" placeholder="dd.mm.yyyy HH:MM" readonly><span class="add-on"><i class="icon-calendar"></i></span></div>   '+
            '<input type="text" class="input-medium" name="towFlight.arrivalPlace" placeholder="Place">'+
            '</div>'+
        '</div>'+
    ''+
    '<div class="control-group">'+
        '<label class="control-label">Duration</label>'+
        '<div class="controls">'+
            '<input type="text" class="input-mini" id="towDuration" name="towFlight.duration" placeholder="HH:MM">'+
            '</div>'+
        '</div>'+
    '</div>'
    );
    newElement.appendTo('#start');
    newElement.find('input.autocomplete').each( function(){
    addAutocomplete($(this));
    });
    setUpTimes();
    }
    setUpTimes();
</script>