#{extends 'Flights/forms/formFlight.html' /}

#{if flight.id}
    #{set formAction:"/flight/aircraft/${flight.id}/edit"/}
    #{set buttonAction:'Save changes'/}
    #{set action:'Edit'/}
#{/if}
#{else}
    #{set formAction:"/flight/aircraft/add"/}
    #{set buttonAction:'Save new aircraft flight'/}
    #{if airplane}
        #{set action:"Add ${airplane.sign} "/}
    #{/if}
    #{elseif user}
        #{set action:"Add ${user.firstName} ${user.surname} "/}
    #{/elseif}
    #{else}
        #{set action:'Add'/}
    #{/else}
#{/else}

#{set title:"${action} aircraft flight" /}

#{set autocompleteUrl: "/aircraft/autocomplete"/}
<div class="control-group">
    <label class="control-label">Tow flight</label>
    <div class="controls">
        <input type="checkbox" id="isTowFlight" name="flight.isTowFlight" #{if flight.isTowFlight}checked#{/if} #{if flight.towedFlight?.id}readonly#{/if}>
    </div>
</div>

<div class="control-group">
    <label class="control-label">Night flight</label>
    <div class="controls">
        <input type="checkbox" name="flight.isNightFlight">
    </div>
</div>

#{include 'Flights/forms/formTowedFlight.html' /}

<!--Aircraft flight: tow and night flight-->
<script type="text/javascript">
    $(document).ready(function () {
        $('input:checkbox#isTowFlight').click(function(){
            if($(this).is(':checked')){
                $('#task').val('tow');
                addTowForm();
            }
            else{
                $('#task').val('');
                $('#towInput').remove();
            }
        });


    });
</script>