#{extends 'Flights/forms/formFlight.html' /}

#{if flight.id}
    #{set formAction:"/flight/glider/${flight.id}/edit"/}
    #{set buttonAction:'Save changes'/}
    #{set action:'Edit'/}
#{/if}
#{else}
    #{set formAction:"/flight/glider/add"/}
    #{set buttonAction:'Save new glider flight'/}
    #{if airplane}
        #{set action:"Add ${airplane.sign} "/}
    #{/if}
    #{elseif user}
        #{set action:"Add ${user.firstName} ${user.surname} "/}
    #{/elseif}
    #{else}
        #{set action:'Add'/}
    #{/else}
#{/else}

#{set title:"${action} glider flight" /}

#{set autocompleteUrl: "/glider/autocomplete"/}

<div class="control-group">
    <label class="control-label">Start type</label>
    <div class="controls">
        #{list items:models.GliderFlight.StartType.values(),  as:'startType'}
        <label class="radio inline">
            <input type="radio" id="${startType}" name="flight.startType" value="${startType}" #{if flight?.startType==startType}checked#{/if} #{if flight.towFlight?.id}readonly#{/if}>${startType}
        </label>
        #{/list}
    </div>
</div>

#{include 'Flights/forms/formTowFlight.html' /}

<!--show/hide according to radiobutton start type click-->
<script type="text/javascript">
    $(document).ready(function() {
        $("input#tow").click(function() {
            if($('#towInput').length){
            }
            else{
                addTowForm();
            }

        });
        $("input#winch").click(function() {
            if($('#towInput').length){
                $('#towInput').remove();
            }
        });
        $("input#other").click(function() {
            if($('#towInput').length){
                $('#towInput').remove();
            }
        });
    });
</script>