#{extends 'main.html' /}

#{set 'moreScripts'}
    #{script 'jquery.hotkeys.js' /}
    #{script 'autofill.js'/}
    #{script 'tooltip.js'/}
    #{script 'autocomplete.js'/}
    #{script 'flightTimes.js'/}
    #{script 'jquery-ui-timepicker-addon.js' /}
    #{script 'sessvars.js'/}
    #{script 'towTimes.js' /}
    #{script 'jquery_mobile_accessibility.js'/}
    #{script 'jquery-ui-sliderAccess.js'/}
#{/set}

<div class="page-header">
    <h1>#{get 'title' /}</h1>
</div>

#{ifErrors}
<div class="alert alert-error">
    &{"validation.error.alert"}
</div>
#{/ifErrors}


<form action="${formAction}" method="POST" class="form-horizontal">
    <fieldset>

        <legend>General flight information</legend>

        #{if flight.id}
        <input type="hidden" name="flight.id" value="${flight.id}">
        #{/if}

        <div class='control-group #{ifError "flight.pilot"}error#{/ifError}'>
            <label class="control-label">Pilot<a class="required" rel="tooltip" tabindex="-1" href="#" data-original-title="Required">*</a></label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span><input type="text" class="input-xxlarge autocomplete" data-url="@{Users.autocomplete()}" value="#{if flight?.pilot?.id}${flight.pilot}#{/if}#{elseif user}${user}#{/elseif}" #{if user}readonly#{/if} last="#{if lastAdded?.pilot}${lastAdded?.pilot}#{/if}">
                    <input type="hidden" name="flight.pilot.id" value="#{if flight?.pilot}${flight.pilot.id}#{/if}#{elseif user}${user.id}#{/elseif}" last="#{if lastAdded?.pilot}${lastAdded?.pilot?.id}#{/if}">
                </div>
                <span class="help-inline">#{error "flight.pilot" /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "flight.secondCrewMember"}error#{/ifError}'>
            <label class="control-label">Second crew member</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span><input type="text" class="input-xxlarge autocomplete" id="${flight?.secondCrewMember?.id}" name="flight.secondCrewMember.id" data-url="@{Users.autocomplete()}" value="#{if flight?.secondCrewMember?.id}${flight.secondCrewMember}#{/if}" last="#{if lastAdded?.secondCrewMember}${lastAdded?.secondCrewMember}#{/if}">
                    <input type="hidden" name="flight.secondCrewMember.id" value="#{if flight?.secondCrewMember}${flight.secondCrewMember.id}#{/if}" last="#{if lastAdded?.secondCrewMember}${lastAdded?.secondCrewMember?.id}#{/if}">
                </div>
                <span class="help-inline">#{error "flight.secondCrewMember" /}</span>
                <label class="checkbox">
                    <input type="checkbox" name="flight.isFlightWithInstructor" #{if flight?.isFlightWithInstructor}checked#{/if} last="${lastAdded?.isFlightWithInstructor}"> Instructor <a rel="tooltip" href="#" tabindex="-1" data-original-title="Check for flight with instructor">?</a>
                </label>
            </div>
        </div>

        <div class='control-group #{ifError "flight.airplane"}error#{/ifError}'>
            <label class="control-label">Airplane<a class="required" rel="tooltip" href="#" tabindex="-1" data-original-title="Required">*</a></label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-plane"></i></span><input type="text" class="input-xxlarge autocomplete" data-url="${autocompleteUrl}" value="#{if flight?.airplane}${flight.airplane}#{/if}#{elseif airplane}${airplane}#{/elseif}" #{if airplane}readonly#{/if} last="#{if lastAdded?.airplane}${lastAdded?.airplane}#{/if}">
                    <input type="hidden" name="flight.airplane.id" value="#{if flight.airplane}${flight.airplane.id}#{/if}#{elseif airplane}${airplane.id}#{/elseif}" last="#{if lastAdded?.airplane}${lastAdded?.airplane?.id}#{/if}">
                </div>
                <span class="help-inline">#{error "flight.airplane" /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "flight.task"}error#{/ifError}'>
            <label class="control-label">Task</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-tasks"></i></span><input type="text" class="input-xxlarge" id="task" name="flight.task" value="${flight?.task}" last="${lastAdded?.task}">
                </div>
                <span class="help-inline">#{error "flight.task" /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "flight.departureTime"}error#{/ifError}'>
            <label class="control-label">Start<a class="required" rel="tooltip" tabindex="-1" href="#" data-original-title="Required">*</a></label>
            <div class="controls">
                <input type="text" id="departure" class="input-medium" name="flight.departureTime" placeholder="dd.mm.yyyy HH:MM" value="${flight?.departureTime?.formatDateTime()}" last="${lastAdded?.departureTime?.formatDateTime()}">
                <input type="text" class="input-medium" name="flight.departurePlace" placeholder="Place" value="${flight?.departurePlace}" last="${lastAdded?.departurePlace}">
                <span class="help-inline error">#{error "flight.departureTime" /}</span>
                <span class="help-inline error">#{error "flight.departurePlace" /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "flight.arrivalTime"}error#{/ifError}'>
            <label class="control-label">Landing</label>
            <div class="controls">
                <div class="input-append">
                <input type="text" id="arrival" tabindex="-1" class="input-medium" name="flight.arrivalTime" placeholder="dd.mm.yyyy HH:MM" value="${flight?.arrivalTime?.formatDateTime()}" last="${lastAdded?.arrivalTime?.formatDateTime()}" readonly><span class="add-on"><i class="icon-calendar"></i></span>
                </div>
                <input type="text" class="input-medium" name="flight.arrivalPlace" placeholder="Place" value="${flight?.arrivalPlace}" last="${lastAdded?.arrivalPlace}">
                <span class="help-inline error">#{error "flight.arrivalTime" /}</span>
                <span class="help-inline error">#{error "flight.arrivalPlace" /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "flight.duration"}error#{/ifError}'>
            <label class="control-label">Flight duration<a class="required" rel="tooltip" tabindex="-1" href="#" data-original-title="Required">*</a></label>
            <div class="controls">
                <input type="text" id="duration" class="input-mini" name="flight.duration" placeholder="HH:MM" value="${flight?.duration?.format()}" last="${lastAdded?.duration?.format()}">
                <span class="help-inline">#{error "flight.duration" /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "flight.paymentType"}error#{/ifError}'>
            <label class="control-label">Payment type<a class="required" rel="tooltip" tabindex="-1" href="#" data-original-title="Required">*</a></label>
            <div class="controls">
                #{list items:paymentTypes, as:'paymentType'}
                    <label class="radio inline">
                        <input type="radio" class="payment" name="flight.paymentType.id" value="${paymentType.id}" last="${lastAdded?.paymentType?.id}" #{if flight?.paymentType?.id==paymentType.id}checked#{/if}>${paymentType}
                    </label>
                #{/list}
            </div>
            <div class="controls">
                <span class="help-inline">#{error "flight.paymentType" /}</span>
            </div>
        </div>

        #{doLayout /}

        <div id="start"></div>
        #{include 'Flights/forms/formCustomPayment.html'/}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="submit">${buttonAction}</button>
            <a href="/flights"  class="btn" name="cancel">Cancel</a>
        </div>
    </fieldset>
</form>





