#{set 'moreScripts'}
#{script 'towTimes.js' /}
#{/set}

#{if flight.isTowFlight}
<div id="towedFlight">
    <legend>Towed flight</legend>
    <button class="close deleteTow" type="button" style="margin-top:-10px;-webkit-margin-top-collapse: separate;">×</button>
    #{if towedFlight?.id}
    <input type="hidden" name="towedFlight.id" value="${towedFlight.id}">
    #{/if}
    <div class='control-group #{ifError "towedFlight.pilot"}error#{/ifError}'>
        <label class="control-label">Glider pilot</label>
        <div class="controls">
            <input type="text" class="input-xxlarge autocomplete" data-url="@{Users.autocomplete()}" value="#{if flight?.towedFlight?.pilot}${flight?.towedFlight.pilot}#{/if}">
            <input type="hidden" name="towedFlight.pilot.id" value="#{if flight?.towedFlight?.pilot}${flight?.towedFlight.pilot.id}#{/if}">
            <span class="help-inline">#{error "towedFlight.pilot" /}</span>
        </div>
    </div>

    <div class='control-group #{ifError "towedFlight.secondCrewMember"}error#{/ifError}'>
        <label class="control-label">Second crew member</label>
        <div class="controls">
            <input type="text" class="input-xxlarge autocomplete" data-url="@{Users.autocomplete()}" value="#{if flight?.towedFlight?.secondCrewMember}${flight?.towedFlight?.secondCrewMember}#{/if}">
            <input type="hidden" name="towedFlight.secondCrewMember.id" value="#{if flight?.towedFlight?.secondCrewMember}${flight?.towedFlight?.secondCrewMember.id}#{/if}">
            <label class="checkbox">
                <input type="checkbox" name="towedFlight.isFlightWithInstructor" #{if flight?.towedFlight?.isFlightWithInstructor}checked#{/if}> Instructor <a rel="tooltip" href="#" tabindex="-1" data-original-title="Check for flight with instructor">?</a>
            </label>
            <span class="help-inline">#{error "towedFlight.secondCrewMember" /}</span>
        </div>
    </div>

    <div class='control-group #{ifError "towedFlight.airplane"}error#{/ifError}'>
        <label class="control-label">Glider</label>
        <div class="controls">
            <input type="text" class="input-xxlarge autocomplete" data-url="/glider/autocomplete" value="#{if flight?.towedFlight?.airplane}${towedFlight.airplane}#{/if}">
            <input type="hidden" name="towedFlight.airplane.id" value="#{if flight?.towedFlight?.airplane}${towedFlight.airplane.id}#{/if}">
            <span class="help-inline">#{error "towedFlight.airplane" /}</span>
        </div>
    </div>

    <div class='control-group #{ifError "towedFlight.task"}error#{/ifError}'>
        <label class="control-label">Task</label>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-tasks"></i></span><input type="text" class="input-xxlarge" id="task" name="towedFlight.task" value="${flight?.towedFlight?.task}" last="${lastAdded?.task}">
            </div>
            <span class="help-inline">#{error "towedFlight.task" /}</span>
        </div>
    </div>

    <div class='control-group #{ifError "towedFlight.arrivalTime"}error#{/ifError}'>
        <label class="control-label">Arrival</label>
        <div class="controls">
            <div class="input-append">
            <input type="text" class="input-medium" id="towArrival" name="towedFlight.arrivalTime" placeholder="dd.mm.yyyy HH:MM" value="${flight?.towedFlight?.arrivalTime?.formatDateTime()}" readonly><span class="add-on"><i class="icon-calendar"></i></span>
            </div>
            <input type="text" class="input-medium" name="towedFlight.arrivalPlace" placeholder="Place" value="${flight?.towedFlight?.arrivalPlace}">
            <span class="help-inline error">#{error "towedFlight.arrivalTime" /}</span>
            <span class="help-inline error">#{error "towedFlight.arrivalPlace" /}</span>
        </div>
    </div>

    <div class='control-group #{ifError "towedFlight.duration"}error#{/ifError}'>
        <label class="control-label">Duration</label>
        <div class="controls">
            <input type="text" class="input-mini" id="towDuration" name="towedFlight.duration" placeholder="HH:MM" value="${towedFlight?.duration?.format()}">
            <span class="help-inline">#{error "towedFlight.duration" /}</span>
        </div>
    </div>
</div>
#{/if}

<script type="text/javascript">

    function addTowForm(){
    var newElement=$(
    '<div id="towInput">'+
    '<legend>Towed flight</legend>'+
    '<button class="close deleteTow" type="button" style="margin-top:-10px;-webkit-margin-top-collapse: separate;">x</button>'+
    '<div class="control-group">'+
        '<label class="control-label">Glider pilot</label>'+
        '<div class="controls">'+
            '<input type="text" class="input-xxlarge autocomplete" data-url="@{Users.autocomplete()}">'+
            '<input type="hidden" name="towedFlight.pilot.id">'+
            '</div>'+
        '</div>'+
    ''+
    '<div class="control-group">'+
        '<label class="control-label">Second crew member</label>'+
        '<div class="controls">'+
            ''+
            '<input type="text" class="input-xxlarge autocomplete" data-url="@{Users.autocomplete()}">'+
            '<input type="hidden" name="towedFlight.secondCrewMember.id">'+
            '<label class="checkbox">'+
                '<input type="checkbox" name="towedFlight.isFlightWithInstructor"> Instructor <a rel="tooltip" href="#" tabindex="-1" data-original-title="Check for flight with instructor">?</a>'+
                '</label>'+
            '</div>'+
        '</div>'+
    '<div class="control-group">'+
        '<label class="control-label">Glider</label>'+
        '<div class="controls">'+
            '<input type="text" class="input-xxlarge autocomplete" data-url="/glider/autocomplete">'+
            '<input type="hidden" name="towedFlight.airplane.id">'+
            '</div>'+
        '</div>'+
    ''+
    ''+
    '<div class="control-group">'+
        '<label class="control-label">Arrival</label>'+
        '<div class="controls">'+
            '<div class="input-append"><input type="text" class="input-medium" id="towArrival" name="towedFlight.arrivalTime" placeholder="dd.mm.yyyy HH:MM" readonly><span class="add-on"><i class="icon-calendar"></i></span></div>   '+
            '<input type="text" class="input-medium" name="towedFlight.arrivalPlace" placeholder="Place">'+
            '</div>'+
        '</div>'+
    ''+
    '<div class="control-group">'+
        '<label class="control-label">Duration</label>'+
        '<div class="controls">'+
            '<input type="text" class="input-mini" id="towDuration" name="towedFlight.duration" placeholder="HH:MM">'+
            '</div>'+
        '</div>'+
    '</div>'
    );
    newElement.appendTo('#start');
    newElement.find('input.autocomplete').each( function(){
    addAutocomplete($(this));
    });
    setUpTimes();
    }
    setUpTimes();
</script>

<script type="text/javascript">
    $(document).on("click","button.deleteTow",function(){
        var c=$(this).parent().attr("class");
        $(this).parent().remove();
    });
</script>