<div id="accordion" class="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" tabindex="-1" style="display:inline-block; padding-right:0em" href="#payment" data-parent="#accordion" data-toggle="collapse" rel="tooltip" data-original-title="Click to change default payment (pilot 100% or 50%/50% if second crew member is given and is not an instructor)"> Change default payment</a>
        </div>
        <div id="payment" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <div id="billsList">
                    #{ifError 'billsList'}
                    <div class="alert alert-error">
                        #{error 'billsList' /}
                    </div>
                    #{/ifError}
                    #{list items:billsList, as:'bill'}
                    <div class="customPayment" style="padding-top:18px;-webkit-margin-top-collapse: separate;">
                        <button class="close deletePayment" type="button" style="margin-top:-10px;-webkit-margin-top-collapse: separate;">×</button>
                        #{if billsList[bill_index-1].id}
                        <input type="hidden" name="billsList[${bill_index-1}].id" value="${billsList[bill_index-1].id}">
                        #{/if}
                        <div class='control-group #{ifError "billsList[${bill_index-1}].user"}error#{/ifError} #{ifError "billsList[${bill_index-1}].flightPart"}error#{/ifError}'>
                            <label class="control-label">Billing user</label>
                            <div class="controls">
                                <input class="input-xxlarge autocomplete" type="text" data-url="@{Users.autocomplete()}" value="#{if bill.user?.id}${bill.user}#{/if}"><input type="hidden" name="billsList[${bill_index-1}].user.id" value="#{if bill?.user?.id}${bill.user.id}#{/if}"><span class="help-inline">#{error "billsList[${bill_index-1}].user" /}</span> <div class="input-append"><input class="input-mini" type="number" name="billsList[${bill_index-1}].flightPart" value="${bill.flightPart}"><span class="add-on">%</span></div> <span class="help-inline">#{error "billsList[${bill_index-1}].flightPart" /}</span>
                            </div>
                        </div>
                        <hr />
                    </div>
                    #{/list}
                 </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="button" id="btnAdd" tabindex="-1" name="addBillingUser" class="btn btn-primary">Add billing user</button>
                    <button type="button" id="btnDel" tabindex="-1" name="removeBillingUser" class="btn">Remove billing user</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Payment-->
<script type="text/javascript">
    $(document).ready(function() {
        var i = $('.customPayment').size();
        if(i==0){
            $('#btnDel').attr('disabled','disabled');
        }
        else{
            $("#payment").collapse();
        }
        $('#btnAdd').click(function() {
            var newElement=$(
            '<div class="customPayment" style="padding-top:18px;-webkit-margin-top-collapse: separate;">'+
                '<button class="close deletePayment" type="button" style="margin-top:-10px;-webkit-margin-top-collapse: separate;">×</button>'+
                '<div class="control-group">'+
                    ''+
                    '<label class="control-label">Billing user</label>'+
                    '<div class="controls">'+
                            '<input class="input-xxlarge autocomplete" type="text" data-url="@{Users.autocomplete()}"><input type="hidden" name="billsList['+i+'].user.id"> <div class="input-append"><input class="input-mini" type="number" name="billsList['+i+'].flightPart"><span class="add-on">%</span></div>'+
                    '</div>'+
                '</div>'+
                '<hr />'+
            '</div>'
            );
            newElement.appendTo('#billsList');
            addAutocomplete(newElement.find('input.autocomplete'));
            i++;
            $('#btnDel').removeAttr('disabled');
        });

        $('#btnDel').click(function() {
            $('.customPayment:last').remove();
            i--;
            if(i==0){
                $('#btnDel').attr('disabled','disabled');
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).on("click","button.deletePayment",function(){
        var c=$(this).parent().attr("class");
        $(this).parent().remove();
        var i=0;
        $("div."+c).each(function(){
            console.log("recalc");
            $(this).find("input:hidden").each(function(){
                var newName=$(this).attr("name").replace(/\d+/,i);
                $(this).attr("name",newName);
            });
            i++;
        });
    });
</script>
