#{extends 'Prices/listPrices.html' /}

#{set title:'Other prices' /}

<h2>Instructor prices</h2>
    <h3>Aircraft instructor prices</h3>
    #{if aircraftInstructorPrices}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Payment type</th>
            <th>Amount/hour</th>
            <th>Amount/start</th>
        </tr>
        </thead>
        <tbody>
        #{list items:aircraftInstructorPrices, as:'instructorPrice'}
        <tr>
            <td>${instructorPrice?.paymentType}</td>
            <td>${instructorPrice?.getActualPrice()?.price}</td>
            <td>${instructorPrice?.getActualPrice()?.startPrice}</td>
        </tr>
        #{/list}
        </tbody>
    </table>
    #{/if}
    #{else}
    <p>No aircraft instructor prices</p>
    #{/else}

    <h3>Glider instructor prices</h3>
    #{if gliderInstructorPrices}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Payment type</th>
            <th>Amount/hour</th>
            <th>Amount/start</th>
        </tr>
        </thead>
        <tbody>
        #{list items:gliderInstructorPrices, as:'instructorPrice'}
        <tr>
            <td>${instructorPrice?.paymentType}</td>
            <td>${instructorPrice?.getActualPrice()?.price}</td>
            <td>${instructorPrice?.getActualPrice()?.startPrice}</td>
        </tr>
        #{/list}
        </tbody>
    </table>
    #{/if}
    #{else}
    <p>No glider instructor prices</p>
    #{/else}
<h2>Winch prices</h2>
    #{if winchPrices}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Payment type</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        #{list items:winchPrices, as:'winchPrice'}
        <tr>
            <td>${winchPrice?.paymentType.name}</td>
            <td>${winchPrice?.getActualPrice()?.price}</td>
        </tr>
        #{/list}
        </tbody>
    </table>
    #{/if}
    #{else}
    <p>No winch prices</p>
    #{/else}

<h2>Job prices</h2>
    #{if jobPrices}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Job name</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        #{list items:jobPrices, as:'jobPrice'}
        <tr>
            <td>${jobPrice?.jobType}</td>
            <td>${jobPrice?.getActualPrice()?.price}</td>
        </tr>
        #{/list}
        </tbody>
    </table>
    #{/if}
    #{else}
    <p>No job prices</p>
    #{/else}

<h2>Fees</h2>
    #{if feePrices}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fee name</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
        #{list items:feePrices, as:'feePrice'}
            <tr>
                <td>${feePrice?.name}</td>
                <td>${feePrice?.getActualPrice()?.price}</td>
            </tr>
        #{/list}
        </tbody>
    </table>
    #{/if}
    #{else}
    <p>No fee prices</p>
    #{/else}