#{extends 'Prices/listPrices.html' /}

#{set title:"Rental prices aircraft"/}

#{if aircraftList}
    #{list items:aircraftList, as:'airplane'}
        <h3>${airplane}</h3>
        %{prices=airplane.getActualPrices()}%
        #{include 'Prices/list/listAirplanePrices.html'/}
        #{if airplane.isTowPlane}
        <h4>Tow flight prices</h4>
        %{towPrices=airplane.getActualTowPrices()}%
        #{include 'Prices/list/listTowPrices.html'/}
        #{/if}
    #{/list}
#{/if}
#{else}
No gliders.
#{/else}
