#{if prices}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Payment type</th>
            <th>Price</th>
            <th>Condition</th>
        </tr>
    </thead>
    <tbody>
        #{list items:prices, as:'price'}
            <tr>
                <td rowspan="#{if price.prices}${price.prices.size()}#{/if}">${price.parent.paymentType}</td>
                #{if price.prices && price.prices.size()>0}
                <td>${price.prices.get(0).price}</td>
                <td> > ${price.prices.get(0).cond} hours/year</td>
                #{/if}
                #{else}
                <td></td>
                <td></td>
                #{/else}
            </tr>

            #{if price.prices && price.prices.size()>1}
            #{list items:1..price.prices.size()-1, as:'i'}
            <tr>
                <td>${(price.prices.get(i)).price}</td>
                <td> > ${(price.prices.get(i)).cond} hours/year</td>
            </tr>
            #{/list}
            #{/if}
        #{/list}
    </tbody>
</table>
#{/if}
#{else}
    <p>No prices.</p>
#{/else}