#{if towPrices}
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 32%">Payment type</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        #{list items:towPrices, as:'price'}
        <tr>
            <td>${price.parent.paymentType}</td>
            <td>${price.price}/${price.towPayment}</td>
        </tr>
        #{/list}
    </tbody>
</table>
#{/if}
#{else}
    <p>No tow prices</p>
#{/else}