#{extends 'main.html' /}
#{set 'moreScripts'}
#{script 'sessvars.js'/}
#{script 'tooltip.js'/}
#{script 'adminPrices.js'/}
#{/set}
<div class="row-fluid">
<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Prices</li>
            <li><a href="/prices/aircraft">Aircraft</a></li>
            <li><a href="/prices/glider">Glider</a></li>
            <li><a href="/prices/other">Other</a></li>
            <li class="nav-header">Admin prices</li>
            <li><a href="/prices/airplane">Airplane</a></li>
            <li><a href="/prices/fee">Fee</a></li>
            <li><a href="/prices/job">Job</a></li>
            <li><a href="/prices/instructor">Instructor</a></li>
            <li><a href="/prices/winch">Winch</a></li>
            <li><a href="/prices/tow">Tow</a></li>
            <li class="divider"></li>
            <li class="nav-header">Settings</li>
            <li><a href="/prices/payment/types">Payment types</a></li>
        </ul>
    </div>
</div>

<div class="span10">
    <div class="page-header">
        <h1>#{get 'title' /}</h1>
    </div>
    #{doLayout /}
</div>
</div>