#{extends 'Prices/indexPrices.html' /}

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="/prices/aircraft">Aircraft</a></li>
            <li><a href="/prices/glider">Glider</a></li>
            <li><a href="/prices/other">Other</a></li>
        </ul>
    </div>
</div>

#{doLayout /}
