#{if airplanePayment.id && airplanePrice.id}
    #{set formAction:"/airplane/${airplanePayment.airplane.id}/price/${airplanePayment.paymentType.id}/prices/${airplanePrice.id}?x-http-method-override=PUT" /}
    #{set action:"Edit" /}
    #{set buttonAction:"Save changes" /}
#{/if}
#{elseif airplanePayment.id}
    #{set formAction:"/airplane/${airplanePayment.airplane.id}/price/${airplanePayment.paymentType.id}/prices" /}
    #{set action:"Add" /}
    #{set buttonAction:"Add airplane price" /}
#{/elseif}
#{else}
    #{set formAction:"/airplane/${airplanePayment.airplane.id}/price" /}
    #{set action:"Add new" /}
    #{set buttonAction:"Add new airplane price" /}
#{/else}

#{extends 'Prices/indexPrices.html' /}

#{set title:"${action} ${airplanePayment.airplane.sign}${airplanePayment.paymentType ? " "+airplanePayment.paymentType.name : ""} prices" /}

#{if flash.error}
<div class="alert alert-error">
    ${flash.error}
</div>
#{/if}

#{ifErrors}
<div class="alert alert-error">
    Some error occured during form validation!
</div>
#{/ifErrors}

#{ifError "airplanePrice.parent"}
<div class="alert alert-error">
    There is already some ${airplanePayment?.airplane.sign} ${airplanePayment?.paymentType.name} price in this this date. Did you make a mistake in a date? Or you can delete or edit existing price from admin menu.
</div>
#{/ifError}

<form action="${formAction}" method="POST" class="form-horizontal">
    <fieldset>
        <input type="hidden" name="airplanePayment.airplane.id" value="${airplanePayment.airplane.id}">
        <div class='control-group #{ifError "airplanePayment.paymentType"}error#{/ifError}'>
            <label class="control-label">Payment type</label>
            <div class="controls">
                #{list items:paymentTypes, as:'paymentType'}
                <label class="radio inline">
                    <input type="radio" #{if airplanePayment?.paymentType?.id==paymentType.id}checked="checked"#{/if} #{if airplanePayment.id || airplanePayment.paymentType}disabled#{/if} #{else}name="airplanePayment.paymentType.id" value="${paymentType.id}"#{/else}>${paymentType.name}
                </label>
                #{/list}
                #{if airplanePayment.id || airplanePayment.paymentType}<input type="hidden" name="airplanePayment.paymentType.id" value="${airplanePayment.paymentType.id}">#{/if}
            </div>
            <span class="help-inline">#{error 'airplanePayment.paymentType' /}</span>
        </div>

        <input type="hidden" name="airplanePrice.id" value="${airplanePrice.id}">
        <input type="hidden" name="airplanePrice.parent.id" value="${airplanePayment?.id}">
        <div class='control-group #{ifError "airplanePrice.date"}error#{/ifError}'>
            <label class="control-label">Valid since</label>
            <div class="controls">
                <input type="text" id="date" class="input-small" name="airplanePrice.date" placeholder="dd.mm.yyyy" value="${airplanePrice.date?.formatDate()}">
                <span class="help-inline">#{error "airplanePrice.date" /}</span>
            </div>
        </div>


    </fieldset>
    <fieldset>
        <legend>Prices</legend>
        <div id="airplanePrices">
            #{list items:airplanePrice.prices, as:'price'}
            <div class="airplanePricePrice" style="margin-top:18px;-webkit-margin-top-collapse: separate;">
                <button class="close" type="button" style="margin-top:-10px;-webkit-margin-top-collapse: separate;">×</button>

                <div class='control-group #{ifError "airplanePrice.prices[${price_index-1}].price"}error#{/ifError}'>
                    <label class="control-label">Price</label>
                    <div class="controls">
                        <input type="number" class="input-mini" name="airplanePrice.prices[${price_index-1}].price" value="${price?.price}" placeholder="0.0">
                        <span class="help-inline">#{error "airplanePrice.prices[${price_index-1}].price" /}</span>
                    </div>
                </div>


                <div class='control-group #{ifError "airplanePrice.prices[${price_index-1}].cond"}error#{/ifError}'>
                    <label class="control-label">Condition</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"> > </span><input type="text" class="input-mini condition" name="airplanePrice.prices[${price_index-1}].cond" value="${price?.cond}" #{if price.cond==0}readonly#{/if}>
                        </div>
                        <span class="help-inline">#{error "airplanePrice.prices[${price_index-1}].cond" /}</span>
                    </div>
                </div>
                <hr/>
            </div>
            #{/list}
        </div>
    </fieldset>
    <div class="control-group">
        <div class="controls">
            <button type="button" id="btnAdd" name="addAirplanePrice" class="btn">
                <i class="icon-plus"></i>
                Add price
            </button>
            <button type="button" id="btnDel" name="removeAirplanePrice" class="btn">
                <i class="icon-minus"></i>
                Remove price
            </button>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary" name="submit">${buttonAction}</button>
        #{a @indexAirplanePrices(), class:"btn"}Cancel#{/a}
    </div>
</form>

<script type="text/javascript">
    function disableFirst(){
        var firstInput=$('.airplanePricePrice:first');
        var condition=firstInput.find('input.condition');
        condition.attr("value",0);
        condition.attr('readonly', true);
    }
    var i = $('.airplanePricePrice').size();
    if(i==0){
        $('#btnDel').attr('disabled','disabled');
    }
    $('#btnAdd').click(function() {
    $(
    '<div class="airplanePricePrice" style="margin-top:18px;-webkit-margin-top-collapse: separate;">'+
        '<button class="close" type="button" style="margin-top:-10px;-webkit-margin-top-collapse: separate;">×</button>'+
        '<fieldset>'+
            '<div class="control-group">'+
                '<label class="control-label">Price</label>'+
                '<div class="controls">'+
                    '<input type="text" class="input-mini" name="airplanePrice.prices['+i+'].price" placeholder="0.0">'+
                '</div>'+
            '</div>'+
            '<div class="control-group">'+
                '<label class="control-label">Condition</label>'+
                '<div class="controls">'+
                    '<div class="input-prepend">'+
                        '<span class="add-on"> > </span><input type="text" class="input-mini condition" name="airplanePrice.prices['+i+'].cond">'+
                    '</div>'+
                '</div>'+
            '</div>'+
        '</fieldset> '+
        '<hr/>'+
    '</div>'
    ).appendTo('#airplanePrices');
    disableFirst();
    i++;
    $('#btnDel').removeAttr('disabled');
    });

    $('#btnDel').click(function() {
        $('.airplanePricePrice:last').remove();
        disableFirst();
        i--;
        if(i==0){
            $('#btnDel').attr('disabled','disabled');
        }
    });

    $(document).on("click","button.close",function(){
        var c=$(this).parent().attr("class");
        $(this).parent().remove();
        disableFirst();
        i--;
        var j=0;
        $("div."+c).each(function(){
            $(this).find("input").each(function(){
                var newName=$(this).attr("name").replace(/\d+/,j);
                $(this).attr("name",newName);
            });
            j++;
        });
    });

</script>


