#{if winchPrice?.id && price?.id}
    #{set formAction:"/price/winch/${winchPrice.paymentType.id}/prices/${price.id}?x-http-method-override=PUT" /}
    #{set action:"Edit" /}
    #{set buttonAction:"Save changes" /}
#{/if}
#{elseif winchPrice?.id}
    #{set formAction:"/price/winch/${winchPrice.paymentType.id}/prices" /}
    #{set action:"Add ${winchPrice.paymentType}" /}
    #{set buttonAction:"Save ${winchPrice.paymentType} winch price" /}
#{/elseif}
#{else}
    #{set formAction:"/price/winch" /}
    #{set action:"Add ${winchPrice.paymentType}" /}
    #{set buttonAction:"Save new ${winchPrice.paymentType} winch price" /}
#{/else}

#{extends 'Prices/indexPrices.html' /}

#{set title:"${action} winch price" /}

#{ifErrors}
<div class="alert alert-error">
    Some error occured during winch price validation!
</div>
#{/ifErrors}
#{ifError "price.parent"}
<div class="alert alert-error">
    There is already some ${winchPrice?.paymentType.name} winch price in this this date. Did you make a mistake in a date? Or you can delete or edit existing price from admin menu.
</div>
#{/ifError}
<form action="${formAction}" method="POST" class="form-horizontal">
    #{authenticityToken /}
    <fieldset>
        #{if winchPrice?.id}
        <input type="hidden" name="winchPrice.id" value="${winchPrice.id}">
        #{/if}

        <div class='control-group #{ifError "winchPrice.paymentType"}error#{/ifError}'>
            <label class="control-label">Payment type</label>
            <div class="controls">
                #{list items:paymentTypes, as:'paymentType'}
                <label class="radio inline">
                    <input type="radio" #{if winchPrice?.paymentType?.id==paymentType.id}checked="checked"#{/if} #{if winchPrice.id || winchPrice.paymentType}disabled#{/if} #{else}name="winchPrice.paymentType.id" value="${paymentType.id}"#{/else}>${paymentType.name}
                </label>
                #{/list}
                #{if winchPrice.id || winchPrice.paymentType}
                <input type="hidden" name="winchPrice.paymentType.id" value="${winchPrice.paymentType.id}">
                #{/if}
            </div>
            <span class="help-inline">#{error 'winchPrice.paymentType' /}</span>
        </div>

        #{if price?.id}
        <input type="hidden" name="price.id" value="${price.id}">
        #{/if}
        <div class='control-group'>
            <label class="control-label">Price</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" class="input-mini" name="price.price" value="${price?.price ? price.price : '0.0' }"><span class="add-on">/start</span>
                </div>
                <span class="help-inline error">#{error 'price.price' /}</span>
            </div>
        </div>
        <div class='control-group #{ifError "price.date"}error#{/ifError}'>
            <label class="control-label">Valid since</label>
            <div class="controls">
                <input type="text" id="date" class="input-medium" name="price.date" placeholder="dd.mm.yyyy" value="${price?.date?.formatDate()}">
                <span class="help-inline">#{error "price.date" /}</span>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="submit">${buttonAction}</button>
            <a href="/prices/winch/admin"  class="btn" name="cancel">Cancel</a>
        </div>
    </fieldset>
</form>