#{extends 'Prices/indexPrices.html' /}

#{if jobPrice?.id && price.id}
    #{set formAction:"/price/job/${jobPrice.id}/prices/${price.id}?x-http-method-override=PUT" /}
    #{set buttonAction:"Save edit" /}
    #{set action:"Edit"/}
#{/if}
#{elseif jobPrice?.id}
    #{set formAction:"/price/job/${jobPrice.id}/prices" /}
    #{set buttonAction:"Add job price" /}
    #{set action:"Add"/}
#{/elseif}
#{else}
    #{set formAction:"/price/job" /}
    #{set buttonAction:"Add job price" /}
    #{set action:"Add"/}
#{/else}

#{set title:"${action} job price" /}

#{ifErrors}
<div class="alert alert-error">
    Some error occured during job price validation!
</div>
#{/ifErrors}

#{ifError "price.parent"}
<div class="alert alert-error">
    There is already some ${jobPrice?.jobType} job price in this this date. Did you make a mistake in a date? Or you can delete or edit existing price from admin menu.
</div>
#{/ifError}

<form action="${formAction}" method="POST" class="form-horizontal">
    #{authenticityToken /}
    <fieldset>
        #{if jobPrice?.id}
        <input type="hidden" name="jobPrice.id" value="${jobPrice.id}">
        #{/if}
        <div class='control-group #{ifError "jobPrice.jobType"}error#{/ifError}'>
            <label class="control-label">Type</label>
            <div class="controls">
                <input type="text" class="input-xlarge" placeholder="New job type" name="jobPrice.jobType" value="${jobPrice?.jobType}" #{if jobPrice.id}readonly#{/if}>
                <span class="help-inline">#{error "jobPrice.jobType" /}</span>
            </div>
        </div>

        #{if price?.id}
        <input type="hidden" name="price.id" value="${price.id}">
        #{/if}
        <div class='control-group #{ifError "price.price"}error#{/ifError}'>
            <label class="control-label">Price</label>
            <div class="controls">
                <input type="number" class="input-mini" placeholder="Price" name="price.price" value="${price?.price}">
                <span class="help-inline">#{error "price.price" /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "price.date"}error#{/ifError}'>
            <label class="control-label">Valid since</label>
            <div class="controls">
                <input type="text" id="date" class="input-small" name="price.date" placeholder="dd.mm.yyyy" value="${price?.date?.formatDate()}">
                <span class="help-inline">#{error "price.date" /}</span>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="submit">${buttonAction}</button>
            <a href="/prices/job" class="btn" name="cancel">Cancel</a>
        </div>
    </fieldset>
</form>