#{extends 'main.html' /}

#{set title:"Edit ${airplanePrice.airplane.sign} ${airplanePrice.paymentType.name} price" /}

<div class="modal" id="airplanePriceForm">
    <form action="/airplane/${airplanePrice.airplane.id}/prices/${airplanePrice.id}/edit" method="POST" class="modal-form">
        <div class="modal-header">
            #{a  @adminAirplanePrices(),type:"button",class:"close"}x#{/a}
            <h3>#{get 'title'/}</h3>
        </div>
        <div class="modal-body">

            <fieldset>
                <input type="hidden" name="airplanePrice.id" value="${airplanePrice.id}">
                <input type="hidden" name="airplanePrice.airplane.id" value="${airplanePrice.airplane.id}">
                <input type="hidden" name="airplanePrice.paymentType.id" value="${airplanePrice.paymentType.id}">
                <input type="hidden" name="airplanePrice.date" value="${airplanePrice.date.formatDate()}">

                <div class='control-group #{ifError "airplanePrice.price"}error#{/ifError}'>
                    <label class="control-label" for="airplanePrice.price">Price</label>
                    <div class="controls">
                        <input type="text" class="input-mini" id="airplanePrice.price" name="airplanePrice.price" value="${airplanePrice?.price}">
                        <span class="help-inline">#{error "airplanePrice.price" /}</span>
                    </div>
                </div>

                <div class='control-group #{ifError "airplanePrice.hours"}error#{/ifError}'>
                    <label class="control-label" for="airplanePrice.hours">hours</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"> > </span><input type="text" class="input-mini" id="airplanePrice.hours" name="airplanePrice.hours" value="${airplanePrice?.hours}" #{if airplanePrice.hours==0}readonly#{/if}>
                        </div>
                        <span class="help-inline">#{error "airplanePrice.hours" /}</span>
                    </div>
                </div>


            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save price changes</button>
            #{a @adminAirplanePrices(), class:'btn'}Close#{/a}
        </div>
    </form>
</div>

<script type="text/javascript">
    $('#airplanePriceForm').modal({
        backdrop: 'static'
    })
</script>