#{if towPrice?.id && price?.id}
    #{set formAction: "/aircraft/${towPrice.towPlane.id}/price/tow/${towPrice.paymentType.id}/prices/${price.id}?x-http-method-override=PUT" /}
    #{set action:"Edit" /}
    #{set buttonAction: "Save changes"/}
#{/if}
#{elseif towPrice?.id}
    #{set formAction: "/aircraft/${towPrice.towPlane.id}/price/tow/${towPrice.paymentType.id}/prices" /}
    #{set action:"Edit" /}
    #{set buttonAction: "Save tow price"/}
#{/elseif}
#{else}
    #{set formAction: "/aircraft/${towPrice.towPlane.id}/price/tow" /}
    #{set action:"Add" /}
    #{set buttonAction: "Save new tow price"/}
#{/else}

#{extends 'Prices/indexPrices.html' /}

#{set title:"${action} ${towPrice.towPlane.sign}${towPrice.paymentType ? " "+towPrice.paymentType : ""} tow price" /}

#{ifErrors}
<div class="alert alert-error">
    Some error occured during form validation!
</div>
#{/ifErrors}
#{ifError "price.parent"}
<div class="alert alert-error">
    There is already some ${towPrice?.paymentType.name} tow price in this this date. Did you make a mistake in a date? Or you can delete or edit existing price from admin menu.
</div>
#{/ifError}
<form action="${formAction}" method="POST" class="form-horizontal">
    <fieldset>
        #{if towPrice.id}
        <input type="hidden" name="towPrice.id" value="${towPrice.id}">
        #{/if}
        <input type="hidden" name="towPrice.towPlane.id" value="${towPrice.towPlane.id}">

        <div class='control-group #{ifError "towPrice.paymentType"}error#{/ifError}'>
            <label class="control-label">Payment type</label>
            <div class="controls">
                #{list items:paymentTypes, as:'paymentType'}
                <label class="radio inline">
                    <input type="radio" #{if towPrice?.paymentType?.id==paymentType.id}checked="checked"#{/if} #{if towPrice.id || towPrice.paymentType}disabled#{/if} #{else}name="towPrice.paymentType.id" value="${paymentType.id}"#{/else}>${paymentType.name}
                </label>
                #{/list}
                #{if towPrice.id || towPrice.paymentType}
                <input type="hidden" name="towPrice.paymentType.id" value="${towPrice.paymentType.id}">
                #{/if}
            </div>
            <span class="help-inline">#{error 'towPrice.paymentType' /}</span>
        </div>

        #{if price.id}
        <input type="hidden" name="price.id" value="${price.id}">
        #{/if}
        <div class='control-group #{ifError "price.price"}error#{/ifError}'>
            <label class="control-label">Price</label>
            <div class="controls">
                <div id="towPrice" class="input-append" data-toggle="buttons-radio">
                    <input class="input-mini" type="text" name="price.price" value="${price?.price}" placeholder="0.0">
                    <button type="button" class="btn towPayment #{if price.towPayment==models.prices.TowPricePrice.TowPayment.Hour}active#{/if}" data-toggle="button" value="${models.prices.TowPricePrice.TowPayment.Hour}">/hour</button>
                    <button type="button" class="btn towPayment #{if price.towPayment==models.prices.TowPricePrice.TowPayment.Start}active#{/if}" data-toggle="button" value="${models.prices.TowPricePrice.TowPayment.Start}">/start</button>
                    <input type="hidden" name="price.towPayment" id="value" value="${price?.towPayment}" />
                </div>
                <span class="help-inline error">#{error "price.price" /}</span>
                <span class="help-inline error">#{error "price.towPayment" /}</span>
                <p class="help-block">Insert tow price and select per what is price calculated.</p>
            </div>
        </div>

        <div class='control-group #{ifError "price.date"}error#{/ifError}'>
            <label class="control-label">Valid since</label>
            <div class="controls">
                <input type="text" id="date" class="input-small" name="price.date" placeholder="dd.mm.yyyy" value="${price.date?.formatDate()}">
                <span class="help-inline">#{error "price.date" /}</span>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="submit">${buttonAction}</button>
            <a href="/prices/tow "  class="btn" name="cancel">Cancel</a>
        </div>
    </fieldset>
</form>

<script type="text/javascript">
    $(document).on("click","input:radio",function(){
        $("input:radio").removeAttr("checked");
        $(this).attr("checked","checked");
    });

    $(document).on("click","button.towPayment",function(){
        $("#value").val($(this).val());
        $("button.towPayment").removeClass('active');
        $(this).addClass('active');
    });
</script>
