#{if instructorPrice?.id && price?.id}
    #{set formAction:"/price/instructor/${instructorPrice.flightType}/${instructorPrice.paymentType.id}/prices/${price.id}?x-http-method-override=PUT" /}
    #{set action:"Edit" /}
    #{set buttonAction:"Save changes" /}
#{/if}
#{elseif instructorPrice?.id}
    #{set formAction:"/price/instructor/${instructorPrice.flightType}/${instructorPrice.paymentType.id}/prices" /}
    #{set action:"Add" /}
    #{set buttonAction:"Add instructor price" /}
#{/elseif}
#{else}
    #{set formAction:"/price/instructor${instructorPrice.flightType ? "/"+instructorPrice.flightType : ""}" /}
    #{set action:"Add new${instructorPrice.flightType ? " "+instructorPrice.flightType : ""}" /}
    #{set buttonAction:"Add new${instructorPrice.flightType ? " "+instructorPrice.flightType : ""} instructor price" /}
#{/else}

#{extends 'Prices/indexPrices.html' /}

#{set title:"${action} instructor price" /}
#{ifErrors}
<div class="alert alert-error">
    Some error occured during instructor price validation!
</div>
#{/ifErrors}
#{ifError "price.parent"}
<div class="alert alert-error">
    There is already some ${instructorPrice?.flightType} ${instructorPrice?.paymentType.name} instructor price in this this date. Did you make a mistake in a date? Or you can delete or edit existing price from admin menu.
</div>
#{/ifError}
<form action="${formAction}" method="POST" class="form-horizontal">
    #{authenticityToken /}
    <fieldset>
        #{if instructorPrice?.id}
            <input type="hidden" name="instructorPrice.id" value="${instructorPrice.id}">
        #{/if}
        <div class='control-group #{ifError "instructorPrice.flightType"}error#{/ifError}'>
            <label class="control-label" for="flight.type">Flight type</label>
            <div class="controls">
                #{list items:models.prices.InstructorPrice.FlightType.values(), as:'flightType'}
                    <label class="radio inline">
                        <input id="flight.type" type="radio" #{if instructorPrice.flightType==flightType}checked#{/if} #{if instructorPrice.id || instructorPrice.flightType!=null}disabled#{/if} #{else}name="instructorPrice.flightType" value="${flightType}"#{/else}>${flightType}
                    </label>
                #{/list}
                #{if instructorPrice.id || instructorPrice.flightType!=null}<input type="hidden" name="instructorPrice.flightType" value="${instructorPrice.flightType}">#{/if}
            </div>
            <span class="help-inline">#{error 'instructorPrice.flightType' /}</span>
        </div>

        <div class='control-group #{ifError "instructorPrice.paymentType"}error#{/ifError}'>
            <label class="control-label">Payment type</label>
            <div class="controls">
                #{list items:paymentTypes, as:'paymentType'}
                    <label class="radio inline">
                        <input type="radio" #{if instructorPrice?.paymentType?.id==paymentType.id}checked="checked"#{/if} #{if instructorPrice.id || instructorPrice.paymentType}disabled#{/if} #{else}name="instructorPrice.paymentType.id" value="${paymentType.id}"#{/else}>${paymentType.name}
                    </label>
                #{/list}
                #{if instructorPrice.id || instructorPrice.paymentType}<input type="hidden" name="instructorPrice.paymentType.id" value="${instructorPrice.paymentType.id}">#{/if}
            </div>
            <span class="help-inline">#{error 'instructorPrice.paymentType' /}</span>
        </div>


        #{if price?.id}
        <input type="hidden" name="price.id" value="${price.id}">
        #{/if}
        <div class='control-group'>
            <label class="control-label" for="prices">Prices</label>
            <div class="controls">
                <div id="prices">
                    <div class="input-append">
                        <input type="number" class="input-mini" name="price.price" value="${price?.price ? price.price: '0.0' }"><span class="add-on">/hour</span>
                    </div>
                    <span class="help-inline error">#{error 'price.price' /}</span>
                    <div class="input-append">
                        <input type="number" class="input-mini" name="price.startPrice" value="${price?.startPrice ? price?.startPrice : '0.0' }"><span class="add-on">/start</span>
                    </div>
                    <span class="help-inline error">#{error 'price.startPrice' /}</span>
                </div>
            </div>
        </div>
        <div class='control-group #{ifError "price.date"}error#{/ifError}'>
            <label class="control-label">Valid since</label>
            <div class="controls">
                <input type="text" id="date" class="input-medium" name="price.date" placeholder="dd.mm.yyyy" value="${price?.date?.formatDate()}">
                <span class="help-inline">#{error "price.date" /}</span>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="submit">${buttonAction}</button>
            <a href="/prices/instructor/admin "  class="btn" name="cancel">Cancel</a>
        </div>
    </fieldset>
</form>