#{extends 'Prices/indexPrices.html' /}

#{if feePrice?.id && price?.id}
    #{set formAction:"/price/fee/${feePrice.id}/prices/${price.id}?x-http-method-override=PUT" /}
    #{set buttonAction:"Save edit" /}
    #{set action:"Edit"/}
#{/if}
#{elseif}
    #{set formAction:"/price/fee/${feePrice.id}/prices" /}
    #{set buttonAction:"Add fee edit" /}
    #{set action:"Edit"/}
#{/elseif}
#{else}
    #{set formAction:"/price/fee" /}
    #{set buttonAction:"Add fee price" /}
    #{set action:"Add"/}
#{/else}

#{set title:"${action} fee price" /}

#{if flash.error}
<div class="alert alert-error">
    ${(flash.error)}
</div>
#{/if}

#{ifErrors}
<div class="alert alert-error">
    Some error occured during instructor price validation!
</div>
#{/ifErrors}
#{ifError "price.parent"}
<div class="alert alert-error">
    There is already some ${feePrice?.name} fee price in this this date. Did you make a mistake in a date? Or you can delete or edit existing price from admin menu.
</div>
#{/ifError}
<form action="${formAction}" method="POST" class="form-horizontal">
    <fieldset>
        #{if feePrice?.id}
        <input type="hidden" name="feePrice.id" value="${feePrice.id}">
        #{/if}

        <div class='control-group #{ifError "feePrice.name"}error#{/ifError}'>
            <label class="control-label">Name</label>
            <div class="controls">
                <input type="text" class="input-xlarge" placeholder="New fee name" name="feePrice.name" value="${feePrice?.name}" #{if feePrice.name}readonly#{/if}>
                <span class="help-inline">#{error "feePrice.name" /}</span>
            </div>
        </div>

        #{if price?.id}
        <input type="hidden" name="price.id" value="${price.id}">
        #{/if}
        <div class='control-group #{ifError "price.price"}error#{/ifError}'>
            <label class="control-label">Price</label>
            <div class="controls">
                <input type="number" class="input-mini" placeholder="Price" id="price" name="price.price" value="${price?.price}">
                <span class="help-inline">#{error "price.price" /}</span>
            </div>
        </div>

        <div class='control-group #{ifError "price.date"}error#{/ifError}'>
            <label class="control-label">Valid since</label>
            <div class="controls">
                <input type="text" id="date" class="input-small" name="price.date" placeholder="dd.mm.yyyy" value="${price?.date?.formatDate()}">
                <span class="help-inline">#{error "price.date" /}</span>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="submit">${buttonAction}</button>
            <a href="/prices/fee" class="btn" name="cancel">Cancel</a>
        </div>
    </fieldset>
</form>
