#{extends 'main.html' /}
#{set title:'Home' /}
    #{if flights}
    <section id="no-more-tables">
    <table class="table table-striped table-bordered table-condensed cf" id="datatable">
        <thead class="cf">
            <tr>
                <th>Header1</th>

            </tr>
        </thead>
        <tbody>
        #{list items:flights, as:'flight'}
        <tr>
            <td data-title="Pilot">${flight.pilot}</td>

        </tr>
        #{/list}
        </tbody>
    </table>
    </section>
    #{/if}
    #{else}
    <p>No data</p>
    #{/else}

