<div class="pagination pagination-right" id="pagination">
    <!--TODO add first last-->
    <ul>
        %{
        if(page-1<=0){
            out.print('<li class="disabled"><span>First</span></li>');
            out.print('<li class="disabled"><span>Prev</span></li>');
        }
        else{
            tmp=page-1;
            out.print('<li><a href="1">First</a></li>');
            out.print('<li><a href="'+tmp+'">Prev</a></li>');
        }


        if(page+1<5){
            i=1;
            while(i<=pages && i<5){
                if(i==page){
                    out.print('<li class="active"><span>'+i+'</span></li>');
                }
                else{
                    out.print('<li><a href="'+i+'">'+i+'</a></li>');
                }
            i++;
            }
        }
        else if(page+1>=pages){
            i=pages-3;
            while(i<=pages){
                if(i==page){
                    out.print('<li class="active"><span>'+i+'</span></li>');
                }
                else{
                    out.print('<li><a href="'+i+'">'+i+'</a></li>');
                }
                i++;
            }

        }
        else{
            i=-1;
            while(i<3){
                tmp=i+page;
                if(tmp==page){
                    out.print('<li class="active"><span>'+tmp+'</span></li>');
                }
                else{
                    out.print('<li><a href="'+tmp+'">'+tmp+'</a></li>');
                }
                i++;
            }
        }



        if(page+1>pages){
            out.print('<li class="disabled"><span>Next</span></li>');
            out.print('<li class="disabled"><span>Last</span></li>');
        }
        else{
            tmp=page+1;
            out.print('<li><a href="'+tmp+'">Next</a></li>');
            out.print('<li><a href="'+pages+'">Last</a></li>');
        }
        }%
    </ul>
</div>

